<div class="page page-general" data-ng-controller="ImagesCtrl">
	<div class="row">
		<div class="col-md-12">
			<section class="panel panel-default table-dynamic">
				<div class="table-filters">
					<div class="row">
						<div class="col-sm-4 col-xs-6">
							<form>
								<input type="text" placeholder="根据镜像名称搜索..." class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()">
							</form>
						</div>
						<div class="col-sm-3 col-xs-6 filter-result-info">
							<span>
								当前显示 {{filteredStores.length}}/{{stores.length}}
							</span>
						</div>

						<!--<div class="col-sm-5 col-xs-6" align="right">-->
							<!--<button ng-show="canedit" type="button" class="btn btn-primary" ng-click="modlabel()">镜像标签管理</button>-->
						<!--</div>-->
					</div>
					<div class="col-sm-12 padding-15" style="padding-left: 0;overflow-x: auto;">
						<span style="white-space: nowrap;">镜像标签：</span><a ng-repeat="category in categories" class="label {{ischoose(category)}}" style="margin-right: 5px;" ng-click="filterLabel(category)">{{category.name}} <span ng-show="labeledit&&category.val" class="glyphicon glyphicon-remove"></span></a>
					</div>
				</div>

				<table class="table table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th>
								<div class="th">
									镜像名
									<span class="fa fa-angle-up" data-ng-click=" order('name') " data-ng-class="{active: row == 'name'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-name') " data-ng-class="{active: row == '-name'}"></span>
								</div>
							</th>
							<th style="width: 80px;">
								<div class="th">
									类型
									<span class="fa fa-angle-up" data-ng-click=" order('type') " data-ng-class="{active: row == 'type'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-type') " data-ng-class="{active: row == '-type'}"></span>
								</div>
							</th>
							<th style="width: 180px;">
								<div class="th">
									镜像标签
									<span class="fa fa-angle-up" data-ng-click=" order('categories') " data-ng-class="{active: row == 'categories'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-categories') " data-ng-class="{active: row == '-categories'}"></span>
								</div>
							</th>
							<th style="width: 100px;">
								<div class="th">
									状态
									<span class="fa fa-angle-up" data-ng-click=" order('status') " data-ng-class="{active: row == 'status'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-status') " data-ng-class="{active: row == '-status'}"></span>
								</div>
							</th>
							<th style="width: 80px;">
								<div class="th">
									大小
									<span class="fa fa-angle-up" data-ng-click=" order('size') " data-ng-class="{active: row == 'size'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-size') " data-ng-class="{active: row == '-size'}"></span>
								</div>
							</th>
							<th style="width: 80px;">
								<div class="th">
									虚拟机
									<span class="fa fa-angle-up" data-ng-click=" order('servers') " data-ng-class="{active: row == 'servers'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-servers') " data-ng-class="{active: row == '-servers'}"></span>
								</div>
							</th>
							<th style="width: 240px;">
								<div class="th">
									操作
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="img in currentPageStores">
							<td><a href="javascript:;" ng-click="detail(img.id)">{{img.name}}</a></td>
							<td>{{typeNote(img.type)}}</td>
							<td data-ng-bind-html="labels(img.categories)"></td>
							<td><span style="font-weight:bold;color: {{statusCls(img.status)}}">{{statusNote(img.status)}}</span></td>
							<td>{{sizeNote(img.size)}}</td>
							<td>{{img.servers}}</td>
							<td style="padding:10px;">
								<button class="btn btn-sm btn-success" ng-click="detail(img.id)">详情</button>
								<button class="btn btn-sm btn-primary" ng-click="editImage(img)">编辑</button>
								<button class="btn btn-sm btn-danger"  ng-click="delImage(img.id)">删除</button>
								<button class="btn btn-sm btn-warning" ng-click="vm(img.id)">虚拟机</button>
							</td>
						</tr>
					</tbody>
				</table>

				<footer class="table-footer">
					<div class="row">
						<div class="col-md-6 page-num-info">
							<span>
				每页显示
				<select data-ng-model="numPerPage"
					data-ng-options="num for num in numPerPageOpt"
					data-ng-change="onNumPerPageChange()">
				</select>
				条
				</span>
						</div>
						<div class="col-md-6 text-right pagination-container">
							<uib-pagination class="pagination-sm" ng-model="currentPage" total-items="filteredStores.length" max-size="4" ng-change="select(currentPage)" items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"></uib-pagination>
						</div>
					</div>
				</footer>
			</section>
		</div>
	</div>

	<script type="text/ng-template" id="imageDetail.html">
		<div class="modal-header">
			<h3>镜像详情</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">镜像名称</label>
					</div>
					<div class="col-sm-9" data-ng-bind="image.name">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">类型</label>
					</div>
					<div class="col-sm-9">
						{{typeNote(image.type)}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">标签</label>
					</div>
					<div class="col-sm-9" data-ng-bind-html="labels(image.categories)">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">容器类型</label>
					</div>
					<div class="col-sm-9">
						{{image.container_format}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">磁盘类型</label>
					</div>
					<div class="col-sm-9">
						{{image.disk_format}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">描述</label>
					</div>
					<div class="col-sm-9">
						{{image.description}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">是否公有</label>
					</div>
					<div class="col-sm-9">
						{{image.is_public ? '是' : '否'}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">数据大小</label>
					</div>
					<div class="col-sm-9">
						{{sizeNote(image.size)}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">运行状态</label>
					</div>
					<div class="col-sm-9">
						<span style="font-weight:bold;color: {{statusCls(image.status)}}">{{statusNote(image.status)}}</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">创建时间</label>
					</div>
					<div class="col-sm-9">
						{{image.created_at}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">最后更新时间</label>
					</div>
					<div class="col-sm-9">
						{{image.updated_at}}
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="cancel()">关闭</button>
		</div>
	</script>
	
	<script type="text/ng-template" id="confirm.html">
		<div class="modal-header">
			<h3>确定</h3>
		</div>
		<div class="modal-body">
			确定删除此镜像？
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">确定</button>
			<button class="btn btn-warning" ng-click="cancel()">取消</button>
		</div>
	</script>
</div>