<div class="page page-general" ng-controller="ImageEditCtrl">

    <div class="row">
        <div class="col-lg-8">
            <h3>编辑镜像</h3>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body padding-xl">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div name="form_signup" class="form-horizontal form-validation">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">镜像名</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="image.name" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">镜像标签</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" multiple="multiple" id="categories"
                                                ng-options="cate for cate in categoryList"
                                                ng-model="image.categories"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">镜像描述</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" ng-model="image.description" rows="4"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="button" ng-click="save()" class="btn btn-primary btn-w-md">保存
                                        </button>
                                        <button type="button" ng-click="back()" class="btn btn-default btn-w-md">取消
                                        </button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="addCourseContent.html">
            <div class="modal-header">
                <h3>课时管理</h3>
            </div>
            <div class="modal-body">
                <div class="aui_content" style="padding: 20px 25px;">
                    <div id="pickList" style="width: 100%">
                        <div class="row">
                            <div class="col-sm-5">
                                <select class="form-control" style="margin-bottom:10px;" ng-model="myCate"
                                        ng-options="cate for cate in cates" ng-change="changeCate(myCate)">
                                    <option value="">请选择</option>
                                </select>
                                <select class="form-control" multiple="multiple" style="height: 200px;"
                                        ng-model="lesson"
                                        ng-options="question.summary for question in questions"></select>
                            </div>
                            <div class="col-sm-2" style="padding: 40px 20px;">
                                <button style="width: 50px;margin-top: 10px;" class="btn btn-primary btn-sm"
                                        ng-click="ltor()">>
                                </button>
                                <button style="width: 50px;margin-top: 10px;" class="btn btn-primary btn-sm"
                                        ng-click="lator()">>>
                                </button>
                                <button style="width: 50px;margin-top: 10px;" class="btn btn-primary btn-sm"
                                        ng-click="rtol()"><
                                </button>
                                <button style="width: 50px;margin-top: 10px;" class="btn btn-primary btn-sm"
                                        ng-click="ratol()"><<
                                </button>
                            </div>
                            <div class="col-sm-5">
                                <select class="form-control" style="height: 244px !important;" ng-model="lesson2"
                                        ng-options="question.summary for question in questions2"
                                        multiple="multiple"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">确定</button>
                <button class="btn btn-warning" ng-click="cancel()">取消</button>
            </div>
        </script>

    </div>
</div>