<div class="page page-general" data-ng-controller="VmlistCtrl">
	<div class="row">
		<div class="col-md-12">
			<section class="panel panel-default table-dynamic" style="min-height: 600px;">
				<div class="table-filters">
					<div class="row">
						<div class="col-sm-12">
							<form>
								<button class="btn btn-primary" ng-click="back()" style="float: left;">返回</button>
								<select class="form-control" ng-options="flavor.name for flavor in flavors" data-ng-model="flavor" style="float: left;margin: 0 10px 0 66px;width: 200px;">
									<option value="">请选择</option>
								</select>
								<button class="btn btn-success" ng-click="startVm()">开启</button>
							</form>
						</div>
					</div>
				</div>

				<table class="table table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th>
								<div class="th">
									虚拟机名称
									<span class="fa fa-angle-up" data-ng-click=" order('vmname') " data-ng-class="{active: row == 'vmname'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-vmname') " data-ng-class="{active: row == '-vmname'}"></span>
								</div>
							</th>
							<th style="width: 180px;">
								<div class="th">
									创建时间
									<span class="fa fa-angle-up" data-ng-click=" order('created_ts') " data-ng-class="{active: row == 'created_ts'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-created_ts') " data-ng-class="{active: row == '-created_ts'}"></span>
								</div>
							</th>
							<th style="width: 100px;">
								<div class="th">
									电源状态
									<span class="fa fa-angle-up" data-ng-click=" order('power_state') " data-ng-class="{active: row == 'power_state'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-power_state') " data-ng-class="{active: row == '-power_state'}"></span>
								</div>
							</th>
							<th style="width: 120px;">
								<div class="th">
									虚拟机状态
									<span class="fa fa-angle-up" data-ng-click=" order('status') " data-ng-class="{active: row == 'status'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-status') " data-ng-class="{active: row == '-status'}"></span>
								</div>
							</th>
							<th style="width: 260px;">
								<div class="th">
									操作
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="server in filteredStores">
							<td>{{server.vmname}}</td>
							<td>{{server.created_ts *1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td>{{powerState(server.power_state)}}</td>
							<td>{{vmState(server.status)}}</td>
							<td style="padding:10px;">
								<button class="btn btn-sm btn-success" ng-click="vnc(server.id)">打开VNC</button>
								<button class="btn btn-sm btn-primary" ng-click="logdetail(server.id)">启动日志</button>
								<div class="btn btn-sm btn-group" uib-dropdown style="padding: 0;">
									<button type="button" class="btn btn-sm btn-danger dropdown-toggle" uib-dropdown-toggle ng-disable="disabled"> 操作 <span class="caret"></span> </button>
									<ul class="dropdown-menu" role="menu">
										<li class="{{server.power_state == 'Shutdown' ? '' : 'disabled' }}">
											<a href="javascript:;" ng-click="operate(server, 'start')">开机</a>
										</li>
										<li class="{{server.power_state != 'Shutdown' ? '' : 'disabled' }}">
											<a href="javascript:;" ng-click="operate(server, 'stop')">关机</a>
										</li>
										<li>
											<a href="javascript:;" ng-show="false" ng-click="operate(server, 'suspend')">挂起</a>
										</li>
										<li>
											<a href="javascript:;" ng-show="false" ng-click="operate(server, 'resume')">恢复</a>
										</li>
										<li class="{{server.power_state != 'Shutdown' ? '' : 'disabled' }}">
											<a href="javascript:;" ng-click="operate(server, 'reboot')">重启</a>
										</li>
										<li>
											<a href="javascript:;" ng-show="false" ng-click="operate(server, 'pause')">暂停</a>
										</li>
										<li>
											<a href="javascript:;" ng-show="false" ng-click="operate(server, 'unpause')">继续</a>
										</li>
										<li>
											<a href="javascript:;" ng-click="destroy(server)">销毁</a>
										</li>
									</ul>
								</div>
							</td>
						</tr>
						<tr ng-show="!servers.length">
							<td colspan="5">暂无数据</td>
						</tr>
					</tbody>
				</table>

			</section>
		</div>
	</div>

	<script type="text/ng-template" id="log.html">
		<div class="modal-header">
			<h3>启动日志</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">镜像名称</label>
					</div>
					<div class="col-sm-9" data-ng-bind="image.name">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">类型</label>
					</div>
					<div class="col-sm-9">
						{{typeNote(image.type)}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">标签</label>
					</div>
					<div class="col-sm-9" data-ng-bind-html="labels(image.categories)">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">容器类型</label>
					</div>
					<div class="col-sm-9">
						{{image.container_format}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">磁盘类型</label>
					</div>
					<div class="col-sm-9">
						{{image.disk_format}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">描述</label>
					</div>
					<div class="col-sm-9">
						{{image.description}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">是否公有</label>
					</div>
					<div class="col-sm-9">
						{{image.is_public ? '是' : '否'}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">数据大小</label>
					</div>
					<div class="col-sm-9">
						{{sizeNote(image.size)}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">运行状态</label>
					</div>
					<div class="col-sm-9">
						<span style="font-weight:bold;color: {{statusCls(image.status)}}">{{statusNote(image.status)}}</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">创建时间</label>
					</div>
					<div class="col-sm-9">
						{{image.created_at}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">最后更新时间</label>
					</div>
					<div class="col-sm-9">
						{{image.updated_at}}
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="cancel()">关闭</button>
		</div>
	</script>

	<script type="text/ng-template" id="logDetail.html">
		<div class="modal-header">
			<h3>日志查看</h3>
		</div>
		<div class="modal-body">
			<div class="panel">
				<div class="panel-body " data-slim-scroll data-scroll-height="500px">
					<pre>{{context}}</pre>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="cancel()">关闭</button>
		</div>
	</script>
</div>