<div class="page page-general" ng-controller="QuestionTopoCtrl">

	<div class="row" style="margin-top: -10px;">
		<div class="col-lg-10">
			<h3>网络拓扑图 － <span class="small" ng-bind="questionSummary"></span>&nbsp;&nbsp;&nbsp;
				<button class="btn btn-default" ng-click="startQuestion()" ng-show="!routerRunning">启动题目</button>
				<button class="btn btn-default" ng-click="shutdownQuestion()" ng-show="routerRunning">关闭题目</button>
				<button class="btn btn-default" ng-click="answerQuestion()" ng-show="routerRunning">题目作答</button>
				<button class="btn btn-default" ng-click="commitFlag()" ng-show="questionSider.flag_score">旗帜文件提交</button>
				<button class="btn btn-default" ng-click="showHistory()" ng-show="canchooseuser">观摩答题</button>
				<button class="btn btn-default" ng-click="back()">返回</button>
			</h3>
		</div>
		<div class="col-lg-2">
			<h3>
				<select style="float: right;" class="form-control" ng-options="f for f in follows" ng-model="username" data-ng-change="userchange()" ng-show="canchooseuser">
				</select>
			</h3>
		</div>

		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12" ng-show="canedit">
							<a data-drag="true" jqyoui-draggable="{onDrag: 'onNetworkDrag'}" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" class="btn-icon btn-icon-round btn-icon-sm-alt bg-success" title="网络" data-type="network">
								<span class="fa fa-cloud"></span>
							</a>
							网络&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

							<a data-drag="true" jqyoui-draggable="{onDrag: 'onServerDrag'}" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" class="btn-icon btn-icon-round btn-icon-sm-alt bg-info" title="服务器" data-type="server">
								<span class="fa fa-desktop"></span>
							</a>
							服务器&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a data-drag="true" jqyoui-draggable="{onDrag: 'onServerDrag'}" jqyoui-draggable data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" class="btn-icon btn-icon-round btn-icon-sm-alt bg-primary" title="路由器" data-type="router">
								<span class="glyphicon glyphicon-hdd"></span>
							</a>
							路由&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</div>
						<div class="col-md-12" ng-show="!canedit && routerRunning" style="font-size: 1.5em;">
							答题时间还剩：<span style="color:#FE7F0C;font-weight: bolder;">{{remainTime | fmtTime}}</span>
						</div>
					</div>
					<div class="col-md-12">
						<div class="clearfix" style="height: 10px;"></div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="panel panel-default">
								<div id="canvas" style="height: 690px;" data-drop="true" jqyoui-droppable="{onDrop:'dropCallback()', onOver: 'overCallback', onOut: 'outCallback'}">
									<div style="height: 95%; width:97%; position:absolute;  padding: 10px 10px 150px 10px;overflow: auto;">
										<div class="network-bar" style="background-color: #FE7F0C;margin-top: 0;">{{extnet.name}}<span>{{extnet.cidr}}</span></div>
										<div class="network-bar" ng-repeat="ntwk in networks" style="background-color: {{ntwk.color}}">
											{{ntwk.name}}<span>{{ntwk.cidr}}</span>
											<a href="javascript:;" style="right: 42px" class="glyphicon glyphicon-edit" ng-click="editNetwork(ntwk)" ng-show="canedit"></a>
											<a href="javascript:;" class="glyphicon glyphicon-remove" ng-click="deleteNetwork(ntwk)" ng-show="canedit"></a>
										</div>
										<div class="bottom"></div>
										<div class="server-block" ng-repeat="server in servers" style="top: {{(server.top-1)*148+62}}px; left: {{(server.left - 1) * 120 + 50}}px;{{(server.entry && routerRunning)?'border-color: red;':''}}" left="{{server.left}}" top="{{server.top}}" ng-mouseover="popover(server)" popover-trigger="outsideClick" uib-popover-template="poptemplate" popover-trigger="mouseenter" popover-placement="{{server.left<=2?'right':'left'}}">
											<div class="server-name">{{server.name}}</div>
											<div class="server-label">服务器</div>
											<div class="server-icon icon-server-{{icon(server)}} {{server.power}}"></div>
											<div class="network-line" ng-repeat="line in server.nics" style="{{lineStyle(line.net_id, $index, server.top)}}"></div>
										</div>
										<div class="bottom2"></div>
										<div class="server-block" ng-repeat="router in routers" style="top: {{(router.top-1)*148+62}}px; left: {{(router.left - 1) * 120 + 50}}px;" left="{{router.left}}" top="{{router.top}}" ng-click="editRouter(router)">
											<div class="server-name">{{router.name}}</div>
											<div class="server-label">路由器</div>
											<div class="server-icon icon-server-router {{routerRunning}}"></div>
											<div class="network-line" ng-repeat="line in router.ports" style="{{lineStyle(line.net_id, $index, router.top)}}"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4" ng-show="!showhistory">
							<div class="ui-tab-container ui-tab-horizontal">
								<uib-tabset justified="false" class="ui-tab">
									<uib-tab heading="作业指导书">
										<p style="height: 599px; overflow: auto" ng-bind-html="questionSider.guide"></p>
									</uib-tab>
									<uib-tab heading="评论" active="act">
										<div class="panel-body" style="height: 609px; overflow: auto">
										<div class="media">
											<a href="jarascript:;" class="pull-left">
												<img src="assets/images/g1.jpg" width="40" height="40" />
											</a>
											<div class="media-body">
												<textarea class="form-control" rows="4" placeholder="评论内容至少5个字！" ng-model="cmt.content"></textarea>
											</div>
											<button type="button" ng-click="submitComment()" class="btn btn-primary btn-w-md" style="float: right;margin-top: 5px;" ng-disabled="cmt.content.length<5">提交评论</button>
										</div>
										<div class="media" ng-repeat="comment in comments">
											<a class="pull-left" href="javascript:;">
												<img alt="" src="assets/images/g1.jpg" class="img-rounded img30_30">
											</a>
											<div class="media-body">
												<p><b>{{comment.username}}</b> 发表评论</p>
												<p>{{comment.content}}</p>
												<p>{{comment.logtime | date:'yyyy-MM-dd HH:mm:ss'}}<a ng-click="replyComment(comment.id)" href="javascript:;" style="float: right;">回复</a></p>
												<div class="media" ng-show="comment.id == cmt.replynow">
													<a class="pull-left" href="javascript:;">
														<img alt="" src="assets/images/g1.jpg" class="img-rounded img30_30">
													</a>
													<div class="media-body">
														<h4 class="media-heading">回复{{comment.username}}：</h4>
														<p><textarea class="form-control" rows="4" placeholder="回复评论内容至少5个字！" ng-model="cmt.replycontent"></textarea></p>
													</div>
													<button type="button" ng-click="submitReply(comment.username, comment.id)" class="btn btn-primary btn-w-md" style="float: right;margin-top: 5px;" ng-disabled="cmt.replycontent.length<5">提交回复</button>
												</div>
												<div class="media" ng-repeat="reply in comment.replys">
													<a class="pull-left" href="javascript:;">
														<img alt="" src="assets/images/g1.jpg" class="img-rounded img30_30">
													</a>
													<div class="media-body">
														<p><b>{{reply.username}}</b> 回复 {{reply.replayname}}</p>
														<p>{{reply.content}}</p>
														<p>{{reply.logtime | date:'yyyy-MM-dd HH:mm:ss'}}<a ng-click="replyComment(reply.id)" href="javascript:;" style="float: right;">回复</a></p>
														<div class="media" ng-show="reply.id == cmt.replynow">
															<a class="pull-left" href="javascript:;">
																<img alt="" src="assets/images/g1.jpg" class="img-rounded img30_30">
															</a>
															<div class="media-body">
																<h4 class="media-heading">回复{{reply.username}}：</h4>
																<p><textarea class="form-control" rows="4" placeholder="回复评论内容至少5个字！" ng-model="cmt.replycontent"></textarea></p>
															</div>
															<button type="button" ng-click="submitReply(reply.username, comment.id)" class="btn btn-primary btn-w-md" style="float: right;margin-top: 5px;" ng-disabled="cmt.replycontent.length<5">提交回复</button>
														</div>
													</div>
												</div>
												<hr />
											</div>
										</div>
										</div>
									</uib-tab>
								</uib-tabset>
							</div>
						</div>

						<div class="col-md-4" ng-show="showhistory">
							<section class="panel panel-default">
								<div style="padding: 5px; overflow: hidden; min-height: 600px;position: relative;">
									<ul class="ui-timeline" style="position: absolute;">
										<slide-follow id="slide" dataset-data="datasetData"></slide-follow>
									</ul>
								</div>
							</section>

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script type="text/ng-template" id="network-add.html">
		<div class="modal-header">
			<h3>添加网络</h3>
		</div>
		<div class="modal-body">
			<div class="form-horizontal form-validation">
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">网络名称</label>
					</div>
					<div class="col-sm-9">
						<input type="text" class="form-control" ng-model="network.name">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">网络地址</label>
					</div>
					<div class="col-sm-9">
						<input type="text" class="form-control" ng-model="network.cidr" placeholder="CIDR网络地址类型(例如：192.168.0.0/24)">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">网关IP</label>
					</div>
					<div class="col-sm-9">
						<input type="text" class="form-control" ng-model="network.gateway" placeholder="网关ip地址(例如192.168.0.254)是默认的网络第一个ip地址(例如：192.168.0.1,网段192.168.0.0/24)。留空使用默认值">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">主机路由</label>
					</div>
					<div class="col-sm-9">
						<textarea class="form-control" ng-model="network.host_routers" placeholder="主机增加额外的路由。每条记录是：目的CIDR,下一跳(例如：192.168.200.0/24, 192.168.2.253),每行一个记录">
						</textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">确定</button>
			<button class="btn btn-warning" ng-click="cancel()">取消</button>
		</div>
	</script>
	<script type="text/ng-template" id="network-edit.html">
		<div class="modal-header">
			<h3>编辑网络</h3>
		</div>
		<div class="modal-body">
			<div class="form-horizontal form-validation">
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">网络名称</label>
					</div>
					<div class="col-sm-9">
						<input type="text" class="form-control" ng-model="network.name">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">网络地址</label>
					</div>
					<div class="col-sm-9">
						<input type="text" class="form-control" ng-model="network.cidr" placeholder="CIDR网络地址类型(例如：192.168.0.0/24)">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">网关IP</label>
					</div>
					<div class="col-sm-9">
						<input type="text" class="form-control" ng-model="network.gateway" placeholder="网关ip地址(例如192.168.0.254)是默认的网络第一个ip地址(例如：192.168.0.1,网段192.168.0.0/24)。留空使用默认值">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">主机路由</label>
					</div>
					<div class="col-sm-9">
						<textarea class="form-control" ng-model="network.host_routers" placeholder="主机增加额外的路由。每条记录是：目的CIDR,下一跳(例如：192.168.200.0/24, 192.168.2.253),每行一个记录">
						</textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">确定</button>
			<button class="btn btn-warning" ng-click="cancel()">取消</button>
		</div>
	</script>
	<script type="text/ng-template" id="server-add.html">
		<div class="modal-header">
			<h3>添加服务器</h3>
		</div>
		<div class="modal-body">
			<div class="form-horizontal form-validation">
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">服务器名称</label>
					</div>
					<div class="col-sm-9">
						<input type="text" class="form-control" ng-model="server.name">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">镜像</label>
					</div>
					<div class="col-sm-9">
						<div style="width: 100%;">
							<a ng-repeat="lb in labelList" class="label {{ischoose(lb)}}" style="margin: 0 5px 5px 0; display: inline;float: left;" ng-click="filterLabel(lb)">{{lb}} <span ng-show="labeledit" class="glyphicon glyphicon-remove"></span></a>
						</div>
						<select class="form-control" data-my-select placeholder="请选择镜像" style="width: 100%;"
								data-ng-options="img.name for img in images"
								ng-model="server.image"></select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">规格类型</label>
					</div>
					<div class="col-sm-9">
						<select class="form-control" data-ng-model="server.flavor" data-ng-options="fl.name for fl in flavors" ng-change="flavorChange(server.flavor)">
							<option value="">自定义</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-3">
						<label for="">CPU</label>
					</div>
					<div class="col-sm-9">
						<div class="btn-group">
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[cpu == 1]" ng-focus="updatecpu(1)">1vCPU</button>
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[cpu == 2]" ng-focus="updatecpu(2)">2vCPU</button>
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[cpu == 4]" ng-focus="updatecpu(4)">4vCPU</button>
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[cpu == 8]" ng-focus="updatecpu(8)">8vCPU</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">内存</label>
					</div>
					<div class="col-sm-9">
						<div class="btn-group">
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[mem == 64]" ng-focus="updatemem(64)">64M</button>
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[mem == 128]" ng-focus="updatemem(128)">128M</button>
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[mem == 256]" ng-focus="updatemem(256)">256M</button>
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[mem == 512]" ng-focus="updatemem(512)">512</button>
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[mem == 1024]" ng-focus="updatemem(1024)">1G</button>
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[mem == 2048]" ng-focus="updatemem(2048)">2G</button>
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[mem == 4096]" ng-focus="updatemem(4096)">4G</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">硬盘</label>
					</div>
					<div class="col-sm-3">
						<input data-ng-model="server.disk" type="text" class="form-control" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^0-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/>
					</div>
					<div class="col-sm-6" style="height: 34px; line-height: 34px;">
						G
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">题目入口</label>
					</div>
					<div class="col-sm-3">
						<select class="form-control" data-ng-model="server.entry">
							<option value="yes">是</option>
							<option value="no">否</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">网络</label>
					</div>
					<div class="col-sm-9">
						<div class="row">
							<div class="col-sm-8 text-long-hide" style="float: left; padding-top: 5px;">
								<label class="ui-checkbox">
									<input name="networks" type="checkbox" value="{{extnet.id}}" ng-checked="netcheck(extnet.id)" ng-click="updateSelection($event,extnet.id)">
									<span style="width: 220px;">{{extnet.name}}</span>
								</label>
							</div>
						</div>

						<div class="row" ng-repeat="net in networks">
							<div class="col-sm-8 text-long-hide" style="float: left; padding-top: 5px;">
								<label class="ui-checkbox">
									<input name="networks" type="checkbox" value="{{net.id}}" ng-checked="netcheck(net.id)" ng-click="updateSelection($event,net.id)">
									<span style="width: 220px;">{{net.name}}</span>
								</label>
							</div>
							<div class="col-sm-4" style="float: right;" ng-show="netcheck(net.id)">
								<div style="padding-right: 20px;" class="form-group">
									<input type="text" class="form-control" ng-model="net.ip" placeholder="IP地址，动态分配留空">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">确定</button>
			<button class="btn btn-warning" ng-click="cancel()">取消</button>
		</div>
	</script>
	<script type="text/ng-template" id="server-edit.html">
		<div class="modal-header">
			<h3>修改服务器</h3>
		</div>
		<div class="modal-body">
			<div class="form-horizontal form-validation">
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">服务器名称</label>
					</div>
					<div class="col-sm-9">
						<input type="text" class="form-control" ng-model="server.name">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">镜像</label>
					</div>
					<div class="col-sm-9">
						<div style="width: 100%;">
							<a ng-repeat="lb in labelList" class="label {{ischoose(lb)}}" style="margin: 0 5px 5px 0; display: inline;float: left;" ng-click="filterLabel(lb)">{{lb}} <span ng-show="labeledit" class="glyphicon glyphicon-remove"></span></a>
						</div>
						<select class="form-control" data-my-select placeholder="请选择镜像" style="width: 100%;"
								data-ng-options="img.name for img in images" ng-model="server.image"></select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">规格类型</label>
					</div>
					<div class="col-sm-9">
						<select class="form-control" data-ng-model="server.flavor" data-ng-options="fl.name for fl in flavors" ng-change="flavorChange(server.flavor)">
							<option value="">自定义</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-3">
						<label for="">CPU</label>
					</div>
					<div class="col-sm-9">
						<div class="btn-group">
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[cpu == 1]" ng-focus="updatecpu(1)">1vCPU</button>
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[cpu == 2]" ng-focus="updatecpu(2)">2vCPU</button>
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[cpu == 4]" ng-focus="updatecpu(4)">4vCPU</button>
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[cpu == 8]" ng-focus="updatecpu(8)">8vCPU</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">内存</label>
					</div>
					<div class="col-sm-9">
						<div class="btn-group">
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[mem == 64]" ng-focus="updatemem(64)">64M</button>
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[mem == 128]" ng-focus="updatemem(128)">128M</button>
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[mem == 256]" ng-focus="updatemem(256)">256M</button>
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[mem == 512]" ng-focus="updatemem(512)">512</button>
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[mem == 1024]" ng-focus="updatemem(1024)">1G</button>
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[mem == 2048]" ng-focus="updatemem(2048)">2G</button>
							<button type="button" ng-class="{true: 'btn btn-primary', false: 'btn btn-line-primary'}[mem == 4096]" ng-focus="updatemem(4096)">4G</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">硬盘</label>
					</div>
					<div class="col-sm-3">
						<input data-ng-model="server.disk" type="text" class="form-control" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^0-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/>
					</div>
					<div class="col-sm-6" style="height: 34px; line-height: 34px;">
						G
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">题目入口</label>
					</div>
					<div class="col-sm-3">
						<select class="form-control" data-ng-model="server.entry">
							<option value="yes">是</option>
							<option value="no">否</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">网络</label>
					</div>
					<div class="col-sm-9">
						<div class="row">
							<div class="col-sm-8 text-long-hide" style="float: left; padding-top: 5px;">
								<label class="ui-checkbox">
									<input name="networks" type="checkbox" value="{{extnet.id}}" ng-checked="netcheck(extnet.id)" ng-click="updateSelection($event,extnet.id)">
								   <span style="width: 220px;">{{extnet.name}}</span>
								</label>
							</div>
						</div>

						<div class="row" ng-repeat="net in networks">
							<div class="col-sm-8 text-long-hide" style="float: left; padding-top: 5px;">
								<label class="ui-checkbox">
									<input name="networks" type="checkbox" value="{{net.id}}" ng-checked="netcheck(net.id)" ng-click="updateSelection($event,net.id)">
									<span style="width: 220px;">{{net.name}}</span>
								</label>
							</div>
							<div class="col-sm-4" style="float: right;" ng-show="netcheck(net.id)">
								<div style="padding-right: 20px;" class="form-group">
									<input type="text" class="form-control" ng-model="net.ip" placeholder="IP地址，动态分配留空">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-danger" ng-click="remove()">删除</button>
			<button class="btn btn-primary" ng-click="ok()">修改</button>
			<button class="btn btn-warning" ng-click="cancel()">取消</button>
		</div>
	</script>
	<script type="text/ng-template" id="router-add.html">
		<div class="modal-header">
			<h3>添加路由器</h3>
		</div>
		<div class="modal-body">
			<div class="form-horizontal form-validation">
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">路由器名称</label>
					</div>
					<div class="col-sm-9">
						<input type="text" class="form-control" ng-model="router.name">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">网络</label>
					</div>
					<div class="col-sm-9">
						<label class="ui-checkbox">
							<input name="networks" type="checkbox" value="{{extnet.id}}" ng-checked="netcheck(extnet.id)" ng-click="updateSelection($event,extnet.id)"><span>{{extnet.name}}</span>
						</label><br />
						<label class="ui-checkbox" ng-repeat="net in networks">
							<input name="networks" type="checkbox" ng-model="net.chek" value="{{net.id}}" ng-checked="netcheck(net.id)" ng-click="updateSelection($event,net.id)"><span>{{net.name}}</span>
							&nbsp;&nbsp;<input type="text" ng-model="net.gateway" placeholder="网关 gateway" />
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">确定</button>
			<button class="btn btn-warning" ng-click="cancel()">取消</button>
		</div>
	</script>

	<script type="text/ng-template" id="router-edit.html">
		<div class="modal-header">
			<h3>修改路由器</h3>
		</div>
		<div class="modal-body">
			<div class="form-horizontal form-validation">
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">路由器名称</label>
					</div>
					<div class="col-sm-9">
						<input type="text" class="form-control" ng-model="router.name">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="">网络</label>
					</div>
					<div class="col-sm-9">
						<label class="ui-checkbox">
							<input name="networks" ng-checked="extnet.chek" type="checkbox" value="{{extnet.id}}" ng-model="extnet.chek" ng-click="updateSelection($event,extnet.id)"><span style="width: 220px;">{{extnet.name}}</span>
						</label><br />
						<label class="ui-checkbox" ng-repeat="net in networks">
							<input name="networks" type="checkbox" ng-model="net.chek" ng-checked="net.chek" value="{{net.id}}"><span style="width: 220px;">{{net.name}}</span>
							&nbsp;&nbsp;<input type="text" ng-model="net.gateway" placeholder="网关 gateway" />
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-danger" ng-click="remove()">删除</button>
			<button class="btn btn-primary" ng-click="ok()">确定</button>
			<button class="btn btn-warning" ng-click="cancel()">取消</button>
		</div>
	</script>

	<script type="text/ng-template" id="confirm.html">
		<div class="modal-header">
			<h3>确定</h3>
		</div>
		<div class="modal-body">
			确定删除吗？
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">确定</button>
			<button class="btn btn-warning" ng-click="cancel()">取消</button>
		</div>
	</script>

	<script type="text/ng-template" id="popoverTemplate.html">
        <div style="z-index:5; overflow: visible;">
            <div style="width: 280px"></div>
            <uib-tabset class="ui-tab">
                <uib-tab heading="基础">
                    <div class="media">
                        <div class="media-body">
                            <ul class="list-unstyled list-info" style=" white-space: nowrap;">
                                <li>
                                    <label>名称</label> {{server.name}}
                                </li>
                                <li class="ng-binding">
                                    <table>
                                        <tr>
                                            <td><label>镜像</label></td>
                                            <td>{{server.image.name}}</td>
                                        </tr>
                                    </table>
                                </li>
                                <li>
                                    <label>状态</label>
                                    <i class="fa fa-circle r-{{server.power}}"></i> {{server.power == 'running' ? '启动' : '停止'}}
                                </li>
                            </ul>
                        </div>
                        <div class="media-bottom">
                            <button class="btn btn-default btn-sm" ng-show="canedit" ng-click="editServer(server)">编辑</button>
                            <button class="btn btn-default btn-sm" ng-show="canedit" ng-click="editServer(server)">删除</button>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="实例">
                    <div class="media">
                        <div class="media-body">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <label>实例名称</label> {{server.name}}
                                </li>
                                <li class="ng-binding">
                                    <table>
                                        <tr>
                                            <td><label>ID</label></td>
                                            <td style="max-width: 140px">{{server.instance.id|fmtUuid}}</td>
                                        </tr>
                                    </table>
                                </li>
                                <li>
                                    <label>状态</label>
                                    <i class="fa fa-circle r-{{server.instance.status}}"></i> {{server.instance.status == 'ACTIVE' ? '激活' : '未激活'}}
                                </li>
                                <li>
                                    <label>电源</label>
                                    <i class="fa fa-circle r-{{server.instance.power_state}}"></i> {{server.instance.power_state == 'Running' ? '已开启' : '未开启'}}
                                </li>
                                <li class="ng-binding">
                                    <table>
                                        <tr>
                                            <td><label>网络</label></td>
                                            <td style="max-width: 140px"><p ng-repeat="(nt, ip) in server.instance.networks">{{nt}}：{{ip.join(",\n")}}</p></td>
                                        </tr>
                                    </table>
                                </li>
                            </ul>
                        </div>
                        <div class="media-bottom">
                            <button class="btn btn-default btn-sm" ng-show="server.power == ''" ng-click="createvm(server)">启动</button>
                            <button class="btn btn-default btn-sm" ng-show="server.power == 'shutdown'" ng-click="startevm(server)">开机</button>
                            <button class="btn btn-default btn-sm" ng-show="server.power == 'running'" ng-click="shutdownvm(server)">关机</button>
                            <button class="btn btn-default btn-sm" ng-show="server.power == 'running'" ng-click="showvnc(server)">VNC</button>
                            <button class="btn btn-default btn-sm" ng-show="server.power == 'running'" ng-click="showlog(server)">日志</button>
                            <button class="btn btn-default btn-sm" ng-show="server.power == 'running'" ng-click="restart(server)">重启</button>
                            <button class="btn btn-default btn-sm" ng-show="server.instance" ng-click="destroy(server)">销毁</button>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
	</script>

	<script type="text/ng-template" id="logDetail.html">
		<div class="modal-header">
			<h3>日志查看</h3>
		</div>
		<div class="modal-body">
			<div class="panel">
				<div class="panel-body " data-slim-scroll data-scroll-height="500px">
					<pre>{{context}}</pre>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="cancel()">关闭</button>
		</div>
	</script>

	<script type="text/ng-template" id="commitFlag.html">
		<div class="modal-header">
			<h3>旗帜文件提交</h3>
		</div>
		<div class="modal-body">
			<div class="panel">
				<div class="panel-body">
					旗帜文件内容:<textarea ng-model="flag" class="form-control"></textarea>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-success" ng-click="submit()">提交</button>
			<button class="btn btn-primary" ng-click="cancel()">关闭</button>
		</div>
	</script>

	<script type="text/ng-template" id="chooseImage.html">
		<div class="modal-header">
			<h3>启动攻击机</h3>
		</div>
		<div class="modal-body">
			<div class="panel">
				<div class="panel-body">
					<select class="form-control" ng-options="img.name for img in images" ng-model="attackimg">
						<option value="">选择一个攻击机镜像</option>
					</select>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<span style="color: #CC181E">注意： 若浏览器设置了拦截弹出窗口，请点选允许弹出新窗口</span>
			<button class="btn btn-success" ng-click="submit()">启动</button>
			<button class="btn btn-primary" ng-click="cancel()">关闭</button>
		</div>
	</script>
</div>