<div class="page page-general" data-ng-controller="QuestionCtrl">
	<div class="row">
		<div class="col-md-12">
			<section class="panel panel-default table-dynamic">
				<div class="table-filters">
					<div class="row">
						<div class="col-sm-4 col-xs-6">
							<form>
								<input type="text" placeholder="根据题目名称搜索..." class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()">
							</form>
						</div>
						<div class="col-sm-3 col-xs-6 filter-result-info">
							<span>
								当前显示 {{filteredStores.length}}/{{stores.length}}
                			</span>
						</div>
						<div class="col-sm-5 col-xs-6" align="right">
							<button ng-show="canedit" type="button" class="btn btn-primary" ng-click="addQuestion()">添加题目</button>
							<button ng-show="canedit" type="button" class="btn btn-danger" ng-click="stopAllQuestions()">关闭全部题目</button>
							<!--<button ng-show="canedit" type="button" class="btn btn-primary" ng-click="modlabel()">题目标签管理</button>-->
						</div>
					</div>
					<div>
						<div class="col-sm-11 padding-15" style="padding-left: 0;{{oneline}}">
							<span style="white-space: nowrap;">题目标签：</span><a ng-repeat="lb in categoryList" class="label {{ischoose(lb)}}" style="margin-right: 5px;margin-top:5px;display:inline-block;" ng-click="filterLabel(lb)">{{lb.name}} <span ng-show="labeledit&&lb.val" class="glyphicon glyphicon-remove"></span></a>
						</div>
                        <div class="col-sm-1 padding-15" style="padding-left: 0;overflow-x: auto;">
                            <a class="label {{ischoose3()}}" style="float:right; margin-right: 5px;margin-top:5px;display:inline-block;" ng-click="more()">更多</a>
                        </div>
						<div class="col-sm-12 padding-15" style="padding-left: 0;overflow-x: auto;padding-top: 0;">
							<span style="white-space: nowrap;">题目难度：</span><a ng-repeat="df in difficultList" class="label {{ischoose2(df)}}" style="margin-right: 5px;" ng-click="filterDifficult(df)">{{df.name}}</a>
						</div>
					</div>
				</div>

				<table class="table table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th>
								<div class="th">
									题目名称
									<span class="fa fa-angle-up" data-ng-click=" order('summary') " data-ng-class="{active: row == 'summary'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-summary') " data-ng-class="{active: row == '-summary'}"></span>
								</div>
							</th>
							<th style="width: 100px;">
								<div class="th">
									题目难度
									<span class="fa fa-angle-up" data-ng-click=" order('difficult') " data-ng-class="{active: row == 'difficult'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-difficult') " data-ng-class="{active: row == '-difficult'}"></span>
								</div>
							</th>
							<th style="width: 90px;">
								<div class="th">
									创建人
									<span class="fa fa-angle-up" data-ng-click=" order('creator_username') " data-ng-class="{active: row == 'creator_username'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-creator_username') " data-ng-class="{active: row == '-creator_username'}"></span>
								</div>
							</th>
							<th style="width: 240px;">
								<div class="th">
									题目标签
									<span class="fa fa-angle-up" data-ng-click=" order('categories') " data-ng-class="{active: row == 'categories'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-categories') " data-ng-class="{active: row == '-categories'}"></span>
								</div>
							</th>
							<th style="width: {{canedit ? 320:120}}px;">
								<div class="th">
									操作
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="qest in currentPageStores">
							<td><a href="javascript:;" ng-click="users(qest)"><span class="glyphicon glyphicon-th-list"></span></a>
								<a href="javascript:;" ng-click="questionTopo(qest)">{{qest.summary}}</a></td>
							<td data-ng-bind-html="diffs(qest.difficult)"></td>
							<td>{{qest.creator_username}}</td>
							<td data-ng-bind-html="labels(qest.categories)"></td>
							<td style="padding: 10px;">
								<button class="btn btn-sm btn-primary" ng-show="canedit" ng-click="editQuestion(qest)">编辑</button>
								<button class="btn btn-sm btn-danger" ng-show="canedit" ng-click="delQuestion(qest)">删除</button>
								<button class="btn btn-sm btn-info" ng-click="questionTopo(qest)">拓扑</button>
								<button class="btn btn-sm btn-success" ng-show="canedit" ng-click="downloadAnswer(qest)">答案</button>
								<button class="btn btn-sm btn-warning" ng-show="canedit" ng-click="publishQues(qest)">发布</button>
								<button class="btn btn-sm btn-purple" ng-click="users(qest)">管理</button>
							</td>
						</tr>
					</tbody>
				</table>

				<footer class="table-footer">
					<div class="row">
						<div class="col-md-6 page-num-info">
							<span>
                            每页显示
                            <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                            </select>
                            条
                            </span>
						</div>
						<div class="col-md-6 text-right pagination-container">
							<uib-pagination class="pagination-sm" ng-model="currentPage" total-items="filteredStores.length" max-size="4" ng-change="select(currentPage)" items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"></uib-pagination>
						</div>
					</div>
				</footer>
			</section>
		</div>
	</div>

	<script type="text/ng-template" id="confirm.html">
		<div class="modal-header">
			<h3>确定</h3>
		</div>
		<div class="modal-body">
			确定删除此题目？
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">确定</button>
			<button class="btn btn-warning" ng-click="cancel()">取消</button>
		</div>
	</script>
	
	<script type="text/ng-template" id="strictconfirm.html">
		<div class="modal-header">
			<h3>确定</h3>
		</div>
		<div class="modal-body">
			<div style="color: #FF0000; line-height:30px">关闭全部题目将导致所有用户的启动完成的题目被销毁，请谨慎操作！</div>
			<div style="line-height:30px">请输入文字确认操作：<strong>关闭全部题目</strong></div>
			<input type="text" style="line-height:30px" class="form-control" ng-model="inputtext" required />
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">确定</button>
			<button class="btn btn-warning" ng-click="cancel()">取消</button>
		</div>
	</script>
	
	<script type="text/ng-template" id="questionUser.html">
		<div class="modal-header">
			<h3>虚拟实例列表</h3>
		</div>
		<div class="modal-body">
			<div class="form-horizontal form-validation">
				<div ng-hide="userRole == 'user'" class="form-group">
					<div class="col-sm-3">
						<label for="">用户名</label>
					</div>
					<div class="col-sm-6">
						<select data-ng-model="user" class="form-control"
		                    data-ng-options="user for user in userList"
		                    data-ng-change="onUserChange()">
		                    <option value="">请选择</option>
		                </select> 
					</div>
					<div class="col-sm-3">
						<button class="btn btn-sm btn-danger" ng-click="destroyAll()">批量销毁</button>
					</div>
				</div>
				<table class="table table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th>
								<div class="th">名称</div>
							</th>
							<th>
								<div class="th">用户</div>
							</th>
							<th>
								<div class="th">创建时间</div>
							</th>
							<th>
								<div class="th" style="min-width:160px">操作</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="q in userQuestion">
							<td><span class="{{q.server.server.power_state == 'Running' ? 'color-success' : 'color-danger'}}"><i class="glyphicon glyphicon-stop"></i></span> {{q.server.server.name}}</td>
							<td>{{q.username}}</td>
							<td>{{q.server.server.created_ts*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td style="padding: 10px;">
								<button class="btn btn-sm btn-danger" ng-click="destroyvm(q)">销毁</button>
								<button class="btn btn-sm btn-success" ng-click="rebootvm(q)">重启</button>
								<button class="btn btn-sm btn-danger" ng-click="destroyquestion(q)">关闭题目</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-info" ng-click="cancel()">关闭</button>
		</div>
	</script>
</div>