<div class="page page-general" data-ng-controller="QuestionPublishCtrl">
    <!--<section style="margin-bottom: 10px;">-->
    <!--<button type="button" class="btn btn-primary" ng-click="addQuestion()">发布题目</button>-->
    <!--</section>-->
<style type="text/css">
.ui-checkbox input[type="checkbox"] + span:before{margin-right:0;}</style>
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default table-dynamic">
                <!--<div class="page-title">-->
                <!--<div class="title-env">-->
                <!--<label>题目名</label> <span ng-bind="quesName"></span>-->
                <!--</div>-->
                <!--</div>-->
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <label style="font-weight:normal;">题目名:</label> <span ng-bind="question.summary"></span>
                    </h3>
                </div>
                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-5 col-xs-5">
                            <form>
                                <input type="text" placeholder="根据用户名搜索..." class="form-control"
                                       data-ng-model="searchKeywords" data-ng-keyup="search()">
                            </form>
                        </div>
                        <div class="col-sm-5 col-xs-5 filter-result-info">
                            <span>
                            当前显示 {{filteredStores.length}}/{{stores.length}}
                            </span>
                        </div>
                        <div class="col-sm-2 col-xs-2">
                            <button style="float: right" type="button" class="btn btn-primary" ng-click="publishQuestion()">确定</button>
                        </div>
                    </div>
                    <div>
                        <div class="col-sm-12 padding-15" style="padding-left: 0;overflow-x: auto;">
                            <span style="white-space: nowrap;">用户角色：</span><a ng-repeat="r in roleList"
                                                                              class="label {{ischoose(r)}}"
                                                                              style="margin-right: 5px;"
                                                                              ng-click="filterRole(r)">{{r.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <th style="width: 30px;">
                                    <div class="th text-center" style="padding-right:8px;">
                                        <label class="ui-checkbox1" style="margin-bottom:0;margin-right:0;">
                                            <input name="checkbox1" type="checkbox" ng-click="checkAll()" ng-model="isAllChecked" >
                                            <span></span>
                                        </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        用户名
                                        <span class="fa fa-angle-up" data-ng-click=" order('username') " data-ng-class="{active: row == 'username'}"></span>
                                        <span class="fa fa-angle-down" data-ng-click=" order('-username') " data-ng-class="{active: row == '-username'}"></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        角色
                                        <span class="fa fa-angle-up" data-ng-click=" order('type') " data-ng-class="{active: row == 'type]'}"></span>
                                        <span class="fa fa-angle-down" data-ng-click=" order('-type') " data-ng-class="{active: row == '-type'}"></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        真实姓名
                                        <span class="fa fa-angle-up" data-ng-click=" order('realname') " data-ng-class="{active: row == 'realname'}"></span>
                                        <span class="fa fa-angle-down" data-ng-click=" order('-realname') " data-ng-class="{active: row == '-realname'}"></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        发布状态
                                        <span class="fa fa-angle-up" data-ng-click=" order('hasPublish') " data-ng-class="{active: row == 'hasPublish'}"></span>
                                        <span class="fa fa-angle-down" data-ng-click=" order('-hasPublish') " data-ng-class="{active: row == '-hasPublish'}"></span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="user in currentPageStores">
                                <td class="text-center"><label class="ui-checkbox1" style="margin-bottom:0;margin-right:0;"><input name="checkbox1" type="checkbox" ng-click="isAllCheck()" ng-model="user.checked"  ><span></span></label></td>
                                <td ng-bind="user.username" style="padding:10px;line-height: 1; vertical-align: middle;"></td>
                                <td ng-bind="roleName[user.type]" style="padding:10px;line-height: 1; vertical-align: middle;"></td>
                                <td ng-bind="user.realname" style="padding:10px;line-height: 1; vertical-align: middle;"></td>
                                <td ng-bind="user.hasPublish?'已发布':'未发布'" ng-style="{color:user.hasPublish?'green':'#f9a64d'}" style="padding:10px;line-height: 1; vertical-align: middle;"></td>
                            </tr>
                        </tbody>
                    </table>
                    <footer class="table-footer">
                        <div class="row">
                            <div class="col-md-6 page-num-info">
                            <span>
                            每页显示
                            <select data-ng-model="numPerPage"
                                    data-ng-options="num for num in numPerPageOpt"
                                    data-ng-change="onNumPerPageChange()">
                            </select>
                            条
                            </span>
                            </div>
                            <div class="col-md-6 text-right pagination-container">
                                <uib-pagination class="pagination-sm" ng-model="currentPage"
                                                total-items="filteredStores.length" max-size="4"
                                                ng-change="select(currentPage)"
                                                items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;"
                                                next-text="&rsaquo;" boundary-links="true"></uib-pagination>
                            </div>
                        </div>
                    </footer>
                </div>
            </section>
        </div>
    </div>

</div>