<div class="page page-general" ng-controller="QuestionAddCtrl">

	<div class="row">
		<div class="col-lg-8">
			<h3>添加题目</h3>
		</div>
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body padding-xl">
					<div class="row">
						<div class="col-lg-12">
							<div name="form_signup" class="form-horizontal form-validation">
								<div class="form-group">
									<label class="col-sm-2 control-label">题目名</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" ng-model="question.summary" required />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">出题人</label>
									<div class="col-sm-10">
										<label ng-bind="uname" class="form-control"></label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">题目标签</label>
									<div class="col-sm-10">
										<select id="categories" class="form-control" multiple="multiple" ng-options="cate as cate for cate in categoryList track by cate"
											ng-model="question.categories"></select>
										<!--<br/>-->
										<!--<button type="button" class="btn btn-success" ng-click="lessonManage()">标签管理</button>-->
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">题目难度</label>
									<div class="col-sm-10">
										<span style="margin-left: 0;">
						                    <select class="form-control" data-ng-model="question.difficult">
                                                <option value="">请选择</option>
                                                <option value="1">低</option>
                                                <option value="2">中</option>
                                                <option value="3">高</option>
                                            </select>
						                </span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">内容简介</label>
									<div class="col-sm-10">
										<div text-angular ng-model="question.introduction" class="ui-editor"></div>
										<!--<textarea class="form-control" data-ng-model="question.introduction"></textarea>-->
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">作业指导书</label>
									<div class="col-sm-10">
                                        <div text-angular ng-model="question.guide" class="ui-editor"></div>
										<!--<textarea class="form-control" data-ng-model="question.guide"></textarea>-->
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">参考答案</label>
									<div class="col-sm-10">
										<button class="btn btn-success" ngf-select="uploadFile($file)">选择文件
                                        </button>
										<span>{{filename}}</span>
										<!--<ng-upload-form url="/services/fileupload" auto-upload="true" size-limit="5000000" name="uppic" label="选择文件" number='single'></ng-upload-form>-->
										<!--<div class="space"></div>-->
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">超时时间</label>
									<div class="col-sm-10">
										<div class="input-group">
											<input type="number" class="form-control" ng-model="question.timeout" required data-ng-minlength="1" data-ng-maxlength="30"
											/><span class="input-group-addon">小时</span>
										</div>
										<!--<span style="margin-left: 0;">-->
										<!--<select class="form-control" data-ng-model="question.timeout">-->
										<!--<option value="">请选择</option>-->
										<!--<option value="1">0</option>-->
										<!--<option value="2">30分钟</option>-->
										<!--<option value="3">一小时</option>-->
										<!--</select>-->
										<!--</span>-->
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">旗帜文件内容</label>
									<div class="col-sm-10">
										<textarea class="form-control" data-ng-model="question.flag"></textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">旗帜文件分值</label>
									<div class="col-sm-10">
										<input type="text" ng-model="question.flag_score" class="form-control" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^0-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
										/>
									</div>
								</div>
								<!--<div class="form-group">
                                    <label class="col-sm-3 control-label">创建日期</label>
                                    <div class="col-sm-9">
                                        <div class="input-group ui-datepicker">
                                            <input type="text" class="form-control"
                                                   uib-datepicker-popup="{{format}}"
                                                   datepicker-options="dateOptions"
                                                   ng-required="true"
                                                   close-text="Close"
                                                   alt-input-formats="altInputFormats"
                                                   is-open="isOpenDate" ng-model="date"/>
                                            <span class="input-group-addon" ng-click="isOpenDate=true"><i
                                                    class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>-->
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="button" ng-click="save()" class="btn btn-primary btn-w-md">保存
                                        </button>
										<button type="button" ng-click="back()" class="btn btn-default btn-w-md">取消
                                        </button>
									</div>
								</div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>