<header class="top-header clearfix">
	<div ui-preloader></div>

	<!-- Logo -->
	<div class="logo" ng-class="{ 'bg-dark': ['11','31'].indexOf(main.skin) >= 0,
     	             'bg-light': main.skin === '21',
                     'bg-primary': ['12','22','32'].indexOf(main.skin) >= 0,
                     'bg-success': ['13','23','33'].indexOf(main.skin) >= 0,
                     'bg-info-alt': ['14','24','34'].indexOf(main.skin) >= 0,
                     'bg-warning': ['15','25','35'].indexOf(main.skin) >= 0,
                     'bg-danger': ['16','26','36'].indexOf(main.skin) >= 0,
                    }">
		<a href="#/">
			<span class="logo-icon glyphicon glyphicon-grain"></span><span class="logo-text">{{main.brand}}</span>
		</a>
	</div>

	<!-- needs to be put after logo to make it work -->
	<div class="menu-button" toggle-off-canvas>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</div>

	<div class="top-nav">
		<ul class="nav-left list-unstyled">
			<li>
				<a ng-href="window.localStorage['uname'] == main.adminuser?'#/dashboard':'#/dashboard2'" data-toggle-nav-collapsed-min class="toggle-min"><i class="fa fa-bars"></i></a>
			</li>

			<li class="search-box visible-md visible-lg">
				<div class="input-group">
				</div>
			</li>
		</ul>

		<ul class="nav-right pull-right list-unstyled">
			<li class="dropdown text-normal nav-profile" uib-dropdown is-open="status.isopenProfile">
				<a href="javascript:;" uib-dropdown-toggle ng-disabled="disabled">
					<img src="assets/images/g1.jpg" alt="" class="img-circle img30_30">
					<span class="hidden-xs">
                        <span id="user-header"></span>
					</span>
				</a>
				<ul class="dropdown-menu with-arrow pull-right dropdown-menu-scaleIn" uib-dropdown-menu>
					<li>
						<a href="#/changepwd">
							<i class="fa fa-user"></i>
							<span>修改密码</span>
						</a>
					</li>
					<li>
						<a href="#/page/signout">
							<i class="fa fa-sign-out"></i>
							<span>退出系统</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>

</header>
