<div class="nav-wrapper">
	<ul id="nav" class="nav" data-slim-scroll data-accordion-nav data-highlight-active>
		<li><a href="{{canedit?'#/dashboard':'#/dashboard2'}}"><i class="fa fa-dashboard"><span class="icon-bg bg-danger"></span></i><span>系统总览</span> </a></li>
		<li><a href="#/courses"><i class="glyphicon glyphicon-book"><span class="icon-bg bg-orange"></span></i><span>{{canedit?'课程管理':'我的课程'}}</span> </a></li>
		<li><a href="#/contests" ng-show="canedit"><i class="glyphicon glyphicon-flag"><span class="icon-bg bg-warning"></span></i><span>比赛管理</span> </a></li>
		<li><a href="#/questions"><i class="glyphicon glyphicon-th-list"><span class="icon-bg bg-success"></span></i><span>{{canedit?'题目管理':'我的题目'}}</span> </a></li>
		<li><a href="#/images" ng-show="canedit"><i class="glyphicon glyphicon-cloud"><span class="icon-bg bg-cyan"></span></i><span>镜像管理</span> </a></li>
        <li ng-show="canedit || groupuser"><a href="#/achievements"><i class="glyphicon glyphicon-list-alt"><span class="icon-bg bg-info-alt"></span></i><span>考核管理</span> </a>
			<ul>
				<li><a href="#/achievements/users"><i class="fa fa-circle"></i><span>用户维度</span></a></li>
				<li><a href="#/achievements/questions"><i class="fa fa-circle"></i><span>题目维度</span></a></li>
			</ul>
		</li>
		<li ng-show="localuser"><a href="#/achievements/localuser"><i class="glyphicon glyphicon-list-alt"><span class="icon-bg bg-info-alt"></span></i><span>我的答题</span> </a></li>
        <li><a href="#/resources/instance" ng-hide="canedit || (cloud != 'zstack')"><i class="fa fa-circle"></i><span>实例监控</span></a></li>
        <li><a href="#/resources" ng-show="canedit"><i class="glyphicon glyphicon-equalizer"><span class="icon-bg bg-info"></span></i><span>资源管理</span> </a>
			<ul>
                <li ng-show="cloud == 'zstack'"><a href="#/resources/instance"><i class="fa fa-circle"></i><span>实例监控</span></a></li>
                <li><a href="#/resources/monitor"><i class="fa fa-circle"></i><span>资源使用情况</span></a></li>
                <li><a href="#/resources/server"><i class="fa fa-circle"></i><span>服务器管理</span></a></li>
                <li><a href="#/resources/resources"><i class="fa fa-circle"></i><span>资源统计</span></a></li>
			</ul>
		</li>
		<li><a href="#/system"><i class="glyphicon glyphicon-cog"><span class="icon-bg bg-primary"></span></i><span>系统管理</span> </a>
			<ul id="system">
				<li><a href="#/users" ng-show="canedit || groupuser"><i class="fa fa-circle"></i><span>用户管理</span></a></li>
				<li><a href="#/system/logs"><i class="fa fa-circle"></i><span>操作日志</span></a></li>
				<li><a href="#/changepwd" ng-hide="canedit"><i class="fa fa-circle"></i><span>修改密码</span></a></li>
			</ul>
		</li>
	</ul>
</div>