<div class="page page-general" data-ng-controller="AccountsCtrl">
	<section style="margin-bottom: 10px;">
		<button type="button" class="btn btn-primary" ng-click="addAccount()">添加用户</button>
	</section>
	<div class="row">
		<div class="col-md-12">
			<section class="panel panel-default table-dynamic">
				<div class="table-filters">
					<div class="row">
						<div class="col-sm-4 col-xs-6">
							<form>
								<input type="text" placeholder="根据用户名搜索..." class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()">
							</form>
						</div>
						<div class="col-sm-3 col-xs-6 filter-result-info">
							<span>
							   当前显示 {{filteredStores.length}}/{{stores.length}}
							</span>
						</div>
					</div>
					<div>
						<div class="col-sm-12 padding-15" style="padding-left: 0;overflow-x: auto;padding-top: 0;">
							<span style="white-space: nowrap;">用户角色：</span><a ng-repeat="r in roleList" class="label {{ischoose(r)}}" style="margin-right: 5px;" ng-click="filterRole(r)">{{r.name}}</a>
						</div>
					</div>
				</div>

				<table class="table table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th>
								<div class="th">
									用户名
									<span class="fa fa-angle-up" data-ng-click=" order('username') " data-ng-class="{active: row == 'username'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-username') " data-ng-class="{active: row == '-username'}"></span>
								</div>
							</th>
							<th style="width: 180px;">
								<div class="th">
									用户类型
									<span class="fa fa-angle-up" data-ng-click=" order('type') " data-ng-class="{active: row == 'type'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-type') " data-ng-class="{active: row == '-type'}"></span>
								</div>
							</th>
							<th style="width: 220px;">
								<div class="th">
									操作
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="ctst in currentPageStores">
							<td>{{ctst.username}}</td>
							<td>{{usertype(ctst.type)}}</td>
							<td style="padding:10px;">
								<button class="btn btn-sm btn-success">详情</button>
								<button class="btn btn-sm btn-primary">编辑</button>
								<button class="btn btn-sm btn-danger">删除</button>
							</td>
						</tr>
					</tbody>
				</table>

				<footer class="table-footer">
					<div class="row">
						<div class="col-md-6 page-num-info">
							<span>
								每页显示
								<select data-ng-model="numPerPage"
									data-ng-options="num for num in numPerPageOpt"
									data-ng-change="onNumPerPageChange()">
								</select>
								条
							</span>
						</div>
						<div class="col-md-6 text-right pagination-container">
							<uib-pagination class="pagination-sm" ng-model="currentPage" total-items="filteredStores.length" max-size="4" ng-change="select(currentPage)" items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"></uib-pagination>
						</div>
					</div>
				</footer>
			</section>
		</div>
	</div>

</div>