<div class="page page-general" data-ng-controller="LogsCtrl">
	<section style="margin-bottom: 10px;">
	</section>
	<div class="row">
		<div class="col-md-12">
			<section class="panel panel-default table-dynamic">
				<div class="table-filters" >
					<div class="row" ng-show="!disable_query">
						<div class="col-sm-4 col-xs-6">
							<form>
								<input type="text" placeholder="根据用户名搜索..." class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()">
							</form>
						</div>
						<div class="col-sm-4 col-xs-4">
							<button type="button" class="btn btn-primary" ng-click="search()">查询</button>
						</div>
					</div>
					<div>
						<div class="col-sm-12 padding-15" style="padding-left: 0;overflow-x: auto;">
							<span style="white-space: nowrap;">日志类型：</span>
							<a ng-repeat="ltp in logtypes" class="label {{ischoose(ltp)}}" style="margin-right: 5px;margin-top:5px;display:inline-block;" ng-click="filterLabel(ltp)">{{ltp.name}}</a>
						</div>
					</div>
				</div>

				<table class="table table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th style="width: 180px;">
								<div class="th">
									操作时间
									<span class="fa fa-angle-up" data-ng-click=" order('logtime') " data-ng-class="{active: row == 'logtime'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-logtime') " data-ng-class="{active: row == '-logtime'}"></span>
								</div>
							</th>
							<th style="width: 80px;">
								<div class="th">
									用户名
									<span class="fa fa-angle-up" data-ng-click=" order('username') " data-ng-class="{active: row == 'username'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-username') " data-ng-class="{active: row == '-username'}"></span>
								</div>
							</th>
							<th style="width: 180px;">
								<div class="th">
									日志类型
									<span class="fa fa-angle-up" data-ng-click=" order('type') " data-ng-class="{active: row == 'type'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-type') " data-ng-class="{active: row == '-type'}"></span>
								</div>
							</th>
							<th style="width: 180px;">
								<div class="th">
									IP地址
									<span class="fa fa-angle-up" data-ng-click=" order('ip') " data-ng-class="{active: row == 'ip'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-ip') " data-ng-class="{active: row == '-ip'}"></span>
								</div>
							</th>
							<th>
								<div class="th">
									异常信息
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="log in logs">
							<td>{{log.logtime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td>{{log.username}}</td>
							<td>{{log | logtype}}</td>
							<td>{{log.ip}}</td>
							<td>{{log.errorinfo}}</td>
						</tr>
					</tbody>
				</table>

				<footer class="table-footer">
					<div class="row">
						<div class="col-md-6 page-num-info">
							<span>
                                每页显示
                                <select data-ng-model="numPerPage"
                                    data-ng-options="num for num in numPerPageOpt"
                                    data-ng-change="onNumPerPageChange()">
                                </select>
                                条
                            </span>
						</div>
						<div class="col-md-6 text-right pagination-container">
							<uib-pagination class="pagination-sm" ng-model="currentPage" total-items="total" max-size="4" ng-change="select(currentPage)" items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"></uib-pagination>
						</div>
					</div>
				</footer>
			</section>
		</div>
	</div>

</div>