<!doctype html>
<html class="no-js" ng-app="app">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title ng-bind="title"></title>
		<meta name="description" content="Responsive Admin Web App with Bootstrap and AngularJS">
		<meta name="keywords" content="angularjs admin, admin templates, admin themes, bootstrap admin">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

		<!-- google fonts -->
		<script type="text/javascript">
			WebFontConfig = {
				//              google: { families: [ 'Lato:400,300italic,300,400italic,700:latin' ] }
			};
			(function() {
				var wf = document.createElement('script');
				wf.src = 'bower_components/webfontloader/webfontloader.js';
				wf.type = 'text/javascript';
				wf.async = 'true';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(wf, s);
			})();
		</script>

		<!-- Needs images, font... therefore can not be part of main.css -->
		<link rel="stylesheet" href="styles/loader.css">
		<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="bower_components/blueimp-gallery/css/blueimp-gallery.css">
		<link rel="stylesheet" href="vendors/select2/select2-bootstrap.css">
		<link rel="stylesheet" href="vendors/select2/select2.css">
		<link rel="stylesheet" href="vendors/daterangepicker/daterangepicker-bs3.css"/>
		<link rel="stylesheet" href="vendors/layer/skin/default/layer.css"/>
        <link rel="stylesheet" href="vendors/angular-loading-bar/loading-bar.css">
        <!-- end Needs images -->

		<!-- build:css({.tmp,client}) styles/main.css -->
		<link rel="stylesheet" href="styles/bootstrap.css">
		<link rel="stylesheet" href="styles/ui.css">
		<link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" href="styles/custom.css">
		<link rel="stylesheet" href="styles/login.css">
		<!-- endbuild -->

		<link id="lazyload_placeholder">
	</head>

	<body data-ng-app="app" id="body" data-custom-page data-off-canvas-nav data-ng-controller="AppCtrl">
		<!--[if lt IE 9]>
            <div class="lt-ie9-bg">
                <p class="browsehappy">You are using an <strong>outdated</strong> browser.</p>
                <p>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            </div>
        <![endif]-->

		<div id="loader-container"></div>

		<section id="app-container">
			<section id="app" class="app" data-ng-class=" { 'layout-boxed': main.layout === 'boxed', 
                                       'nav-collapsed-min': main.isMenuCollapsed
            } ">

				<header data-ng-include=" 'app/layout/header.html' " id="header" class="header-container " data-ng-class="{ 'header-fixed': main.fixedHeader,
                                          'bg-light': ['11','12','13','14','15','16','21'].indexOf(main.skin) >= 0,
                                          'bg-dark': main.skin === '31',
                                          'bg-primary': ['22','32'].indexOf(main.skin) >= 0,
                                          'bg-success': ['23','33'].indexOf(main.skin) >= 0,
                                          'bg-info-alt': ['24','34'].indexOf(main.skin) >= 0,
                                          'bg-warning': ['25','35'].indexOf(main.skin) >= 0,
                                          'bg-danger': ['26','36'].indexOf(main.skin) >= 0
                         }"></header>

				<div class="main-container ">
					<aside style="position:fixed; z-index: 3;" data-ng-include=" 'app/layout/sidebar.html' " id="nav-container" class="nav-container nav-vertical" data-ng-class="{ 'nav-fixed': main.fixedSidebar,
                                            'bg-light': ['31','32','33','34','35','36'].indexOf(main.skin) >= 0,
                                            'bg-dark': ['31','32','33','34','35','36'].indexOf(main.skin) < 0
                           }">
					</aside>
					<div id="content" class="content-container {{main.pageTransition.class}}">
						<section data-ui-view>
						</section>
					</div>
				</div>
				
				<div class="footer">
					<span> Copyright © 2016-2017 <a href="http://www.islab.cn">公安部第三研究所</a> 版权所有</span>
				</div>

			</section>
		</section>

		<!-- build:js scripts/vendor.js -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="bower_components/angular-aria/angular-aria.min.js"></script>
		<script src="bower_components/angular-animate/angular-animate.min.js"></script>
		<script src="bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
		<script src="bower_components/blueimp-load-image/js/load-image.all.min.js"></script>
		<script src="bower_components/blueimp-canvas-to-blob/js/canvas-to-blob.min.js"></script>
		<script src="bower_components/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script>
		<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
		<script src="bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>
		<script src="assets/js/uploader.min.js"></script>
        <script src="vendors/ng-file-upload-shim.js"></script>
		<script src="vendors/ng-file-upload.js"></script>
		<script src="vendors/angular-loading-bar/loading-bar.js"></script>
		<!-- endbuild -->

		<!-- build:js scripts/ui.js -->
		<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script src="bower_components/toastr/toastr.min.js"></script>
		<script src="bower_components/jquery.slimscroll/jquery.slimscroll.min.js"></script>
		<script src="bower_components/angular-scroll/angular-scroll.min.js"></script>

		<script src="bower_components/angular-translate/angular-translate.min.js"></script>
		<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

		<script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
		<script src="bower_components/angular-wizard/dist/angular-wizard.min.js"></script>
		<script src="bower_components/bootstrap-file-input/bootstrap.file-input.js"></script>
		<script src="bower_components/angular-validation-match/dist/angular-validation-match.min.js"></script>

		<script src="bower_components/echarts/dist/echarts.min.js"></script>
		<script src="bower_components/echarts/theme/macarons.js"></script>
		<script src="vendors/ngecharts.js"></script>
		<script src="vendors/select2/select2.min.js"></script>
		<script src="vendors/daterangepicker/moment.min.js"></script>
		<script src="vendors/bootstrap-datepicker.js"></script>
		<script src="vendors/daterangepicker/daterangepicker.js"></script>
		<script src="vendors/layer/layer.js"></script>
		<!-- endbuild -->

		<!-- build:js({.tmp,client}) scripts/app.js -->
		<!-- injector:js -->
		<script src="app/layout/loader.js"></script>
		<script src="app/app.module.js"></script>
		<script src="app/app/task/task.module.js"></script>
		<script src="app/chart/chart.module.js"></script>
		<script src="app/form/form.module.js"></script>
		<script src="app/form/formValidation.module.js"></script>
		<script src="app/layout/nav.module.js"></script>
		<script src="app/page/page.module.js"></script>
		<script src="app/table/table.module.js"></script>
		<script src="app/ui/ui.module.js"></script>
		<script src="app/app/task/task.controller.js"></script>
		<script src="app/app/task/task.directive.js"></script>
		<script src="app/app/task/task.service.js"></script>
		<script src="app/chart/echarts.controller.js"></script>
		<script src="app/core/app.config.js"></script>
		<script src="app/core/app.controller.js"></script>
		<script src="app/core/config.lazyload.js"></script>
		<script src="app/core/config.route.js"></script>
		<script src="app/core/i18n.js"></script>
		<script src="app/dashboard/dashboard.controller.js"></script>
		<script src="app/form/form.controller.js"></script>
		<script src="app/form/formValidation.controller.js"></script>
		<script src="app/form/wizard.controller.js"></script>
		<script src="app/layout/nav.directive.js"></script>
		<script src="app/page/page.controller.js"></script>
		<script src="app/page/page.directive.js"></script>
		<script src="app/table/table.controller.js"></script>
		<script src="app/ui/ui.controller.js"></script>
		<script src="app/ui/ui.directive.js"></script>
		<script src="app/ui/ui.service.js"></script>
		<script src="app/courses/courses.module.js"></script>
		<script src="app/courses/courses.controller.js"></script>
		<script src="app/questions/questions.module.js"></script>
		<script src="app/questions/questions.controller.js"></script>
		<script src="app/achievements/achievements.module.js"></script>
		<script src="app/achievements/achievements.controller.js"></script>
		<script src="app/contests/contests.module.js"></script>
		<script src="app/contests/contests.controller.js"></script>
		<script src="app/images/images.module.js"></script>
		<script src="app/images/images.controller.js"></script>
		<script src="app/resources/resources.module.js"></script>
		<script src="app/resources/resources.controller.js"></script>
		<script src="app/system/system.module.js"></script>
		<script src="app/system/system.controller.js"></script>
		<script src="app/users/users.controller.js"></script>
		<script src="app/users/users.controller.js"></script>
		<!-- endinjector -->
		<!-- endbuild -->

		<script src="app/service/tool.js"></script>
		<script src="vendors/my97datepicker/WdatePicker.js"></script>
		<script src="styles/jwplayer/jwplayer.js"></script>
		<script src="styles/jwplayer/jwplayer.flash.swf"></script>
		<script>jwplayer.key="iP+vLYU9H5KyhZeGt5eVuJJIoULUjltoaMeHXg==";</script>

	</body>

</html>