<div class="page page-general" ng-controller="CourseEditCtrl">

	<div class="row">
		<div class="col-lg-8">
			<h3>编辑课程</h3>
		</div>
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body padding-xl">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div name="form_signup" class="form-horizontal form-validation">
								<div class="form-group">
									<div class="col-sm-3">
										<label for="">课程名称</label>
									</div>
									<div class="col-sm-9">
										<input type="text" class="form-control" ng-model="title" required data-ng-minlength="1" data-ng-maxlength="30">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-3">
										<label for="">课时列表</label>
									</div>
									<div class="col-sm-9">
										<select class="form-control" multiple="multiple" ng-options="question.summary for question in questionSel" ng-model="lessons"></select>
										<br />
										<button type="button" class="btn btn-success" ng-click="lessonManage()">课时管理</button>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-3">
										<label for="">课程难度</label>
									</div>
									<div class="col-sm-9">
										<span class="ui-select" style="margin-left: 0;">
						                    <select ng-model="difficult">
						                    	<option value="">请选择</option>
						                        <option value="1">低</option>
						                        <option value="2">中</option>
						                        <option value="3">高</option>
						                    </select>
						                </span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-3">
										<label for="">课程简介</label>
									</div>
									<div class="col-sm-9">
										<textarea class="form-control" data-ng-model="introduction"></textarea>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-3">
										<label for="">课程图片</label>
									</div>
									<div class="col-sm-9">
										<button class="btn btn-success" ngf-select="uploadfile($file, 'picture')"
                                                ngf-accept="'.gif,.jpg,.jpeg,.png,.bmp'">选择图片
                                        </button>
                                        <span>{{files['picture'].name}}</span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-3">
										<label for="">课程视频</label>
									</div>
									<div class="col-sm-9">
										<button class="btn btn-success" ngf-select="uploadfile($file, 'video')" ngf-max-size="'500MB'" ngf-validate="{size:{max:'500MB'}}"
                                                ngf-accept="'.mp4'">选择视频
                                        </button>
                                        <span ng-show="progress<100 && progress>0">{{progress}} %</span>
                                        <span>{{files['video'].name}}</span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<button type="button" ng-click="save()" class="btn btn-primary btn-w-md">保存</button>
										<button type="button" ng-click="back()" class="btn btn-default btn-w-md">取消</button>
									</div>
								</div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/ng-template" id="addCourseContent.html">
			<div class="modal-header">
				<h3>课时管理</h3>
			</div>
			<div class="modal-body">
				<div class="aui_content" style="padding: 20px 25px;">
					<div id="pickList" style="width: 100%">
						<div class="row">
							<div class="col-sm-5">
								<select class="form-control" style="margin-bottom:10px;" ng-model="myCate" ng-options="cate for cate in cates" ng-change="changeCate(myCate)">
									<option value="">请选择</option>
								</select>
								<select class="form-control" multiple="multiple" style="height: 200px;" ng-model="lesson" ng-options="question.summary for question in questions"></select>
							</div>
							<div class="col-sm-2" style="padding: 40px 20px;">
								<button style="width: 50px;margin-top: 10px;" class="btn btn-primary btn-sm" ng-click="ltor()">></button>
								<button style="width: 50px;margin-top: 10px;" class="btn btn-primary btn-sm" ng-click="lator()">>></button>
								<button style="width: 50px;margin-top: 10px;" class="btn btn-primary btn-sm" ng-click="rtol()"><</button>
								<button style="width: 50px;margin-top: 10px;" class="btn btn-primary btn-sm" ng-click="ratol()"><<</button>
							</div>
							<div class="col-sm-5">
								<select class="form-control" style="height: 244px !important;" ng-model="lesson2" ng-options="question.summary for question in questions2" multiple="multiple">
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="ok()">确定</button>
				<button class="btn btn-warning" ng-click="cancel()">取消</button>
			</div>
		</script>

	</div>