<div class="page page-general" ng-controller="CourseLearnCtrl">
	<section style="margin-bottom: 10px;">
		<button type="button" class="btn btn-primary" ng-click="back()">返回</button>
	</section>
	<div class="row">
		<div class="col-lg-4 col-md-4">
			<div>
				<img alt="" ng-src="/upload/courses/{{course.id}}/index" err-src="assets/images/404.jpg" style="width: 100%; height: 250px;">
			</div>
		</div>
		<div class="col-lg-8 col-md-8">
			<div class="callout callout-info" style="height: 250px; margin-top: 0;background-color: white;">
				<h3 style="margin-top:0;">{{course.title}}</h3>
				<p><span style="font-weight: bold;color: red">{{course.others_learnings.length}}</span> 人已学</p>
				<p>难度：<i data-ng-repeat="n in diff" class="glyphicon glyphicon-fire" style="color: {{diffcolor}};margin-right: 5px;"></i>&nbsp;</p>
				<div class="row">
					<div class="col-md-12">
						<div style="float: left;">进度：</div>
						<uib-progressbar class="progressbar-sm progress-rounded progress-striped active" value="course.learn_progress*100 | number: 0" type="success" style="width: 300px;float: left;">
							{{course.learn_progress * 100 | number: 0}}%
						</uib-progressbar>
					</div>
				</div>
				<div class="panel">
					<div class="panel-body " data-slim-scroll data-scroll-height="90px">
						<p>简介：{{course.introduction}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row panel panel-default" style="padding-top: 15px;">
			<div class="col-md-8">
				<uib-tabset class="ui-tab">
					<uib-tab heading="目录">
						<table class="table no-margin">
							<tbody>
								<tr data-ng-repeat="question in course.questions">
									<td width="40"><label class="">{{$index+1}}</label></td>
									<td>{{question.summary}}</td>
									<td width="50">
										<button class="btn {{question.is_learned?'btn-info':'btn-success'}} btn-sm" ng-click="learnnow(question.id, course.id)">{{question.is_learned?'继续学习':'开始学习'}}</button>
									</td>
								</tr>
							</tbody>
						</table>
					</uib-tab>
					<uib-tab heading="视频">
						<div style="min-height: 200px;">
							<div ng-show="!video" style="height: 200px;">
								暂无视频
							</div>
							<div ng-show="video">
								<div id='myplayer'></div>
							</div>
						</div>
					</uib-tab>
				</uib-tabset>
			</div>
			<div class="col-md-4">
				<uib-tabset class="ui-tab">
					<uib-tab heading="最近完成任务学员">
						<div class="panel-body">
		                    <div class="media" data-ng-repeat="ol in course.others_learnings">
		                        <a class="pull-left" href="javascript:;">
		                            <img alt="" src="assets/images/g1.jpg" class="img-rounded img64_64">
		                        </a>
		                        <div class="media-body">
		                            <h4 class="media-heading">{{ol.realname}}</h4>
		                            <p>共{{course.questions.length}}个课时，已完成{{ol.learned_questions.length}}个。加油！</p>
		                            <p>
			                            	<uib-progressbar class="progressbar-sm progress-rounded progress-striped active" value="ol.learned_questions.length / course.questions.length * 100 | number: 2" type="primary" style="width: 100%;float: left;">
										</uib-progressbar>
		                            </p>
		                        </div>
		                    </div>
		                </div>
					</uib-tab>
				</uib-tabset>
			</div>
		</div>
	</div>
</div>