<div class="page page-general" ng-controller="CoursesCtrl">

	<div class="table-filters">
		<div class="row">
			<div class="col-sm-4 col-xs-6">
				<form>
					<input type="text" placeholder="根据课程名称搜索..." class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()">
				</form>
			</div>
			<div class="col-sm-3 col-xs-6 filter-result-info" style="height:34px;line-height:34px;">
				<span>
					当前显示 {{filteredCourses.length}}/{{courses.length}}
				</span>
			</div>

			<div class="col-sm-5 col-xs-6" align="right">
				<button type="button" class="btn btn-primary" ng-click="addCourse()" ng-show="canedit">添加课程</button>
			</div>
		</div>
		<div>
			<div class="col-sm-12 padding-15" style="padding-left: 0;overflow-x: auto;">
				<span style="white-space: nowrap;">课程难度：</span><a ng-repeat="df in difficultList" class="label {{ischoose2(df)}}" style="margin-right: 5px;" ng-click="filterDifficult(df)">{{df.name}}</a>
			</div>
		</div>
	</div>

	<!-- section style="margin-bottom: 10px;">
	</section>

	<div class="col-sm-12 padding-15" style="padding-left: 0;overflow-x: auto;padding-top: 0;">
		<span style="white-space: nowrap;">课程难度：</span><a ng-repeat="df in difficultList" class="label {{ischoose2(df)}}" style="margin-right: 5px;" ng-click="filterDifficult(df)">{{df.name}}</a>
	</div-->

	<div class="row">
		<div data-ng-repeat="course in filteredCourses" class="col-zdlg-2-5 col-lg-3 col-md-4 col-sm-6 col-xs-12" >
			<div class="text-shadow thumbnail"  style="height: 250px; max-width: 300px; min-width: 240px; overflow: visible;">
				<div style="position: relative; padding: 0px; width: 100%; height: 80%;">
					<h5 ng-if="!canedit" style="position: absolute; z-index: 50; top: -15px; left: -15px;" class="card-button pull-left btn-icon btn-icon-round {{difficultColorBG(course.difficult)}}">
						<!--<a style="position: absolute; z-index: 50; top: -5px; left: -5px;" class="card-button pull-left btn-icon btn-icon-round {{difficultColor(course.difficult)}}" href="javascript:;">-->
						{{(course.learn_progress * 100 | number: 0)+"%"}}
					</h5>
					<h5 class="{{difficultColorText(course.difficult)}}" style="position: absolute; z-index: 50; top: 0px; right: 10px;" >
						<i class="glyphicon glyphicon-fire" ng-show="course.difficult > 0"></i>
						<i class="glyphicon glyphicon-fire" ng-show="course.difficult > 1"></i>
						<i class="glyphicon glyphicon-fire" ng-show="course.difficult > 2"></i>
					</h5>

                    <div tooltip-placement="top" uib-tooltip-html="
                    	'<div >课程名：'+ course.title +
                    	'</br>难度：' + difficultDict[course.difficult] +
                    	(course.learn_progress ?  ('</br>学习进度：' + (course.learn_progress * 100 | number: 0) + '%') : '') +
                    	(course.learns ? ('</br>学习人数：' + course.learns) : '') + '</div>'"
						 style="padding: 0px; width: 100%; height: 100%;" >
                        <div class="course-title text-border" style="position: absolute; z-index: 51; background: rgba(0, 0, 0, 0.5); overflow: hidden; top: 78%; width: 100%; height: 37px;"></div>
                        <h5 class="course-title text-border" style="position: absolute; z-index: 52; overflow: hidden; top: 78%; left: 10px;"><b >{{course.title}}</b></h5>
                        <a class="img-rounded img-hover" href="javascript:;" ng-click="learn(course.id)">
                            <img class="img-rounded img-hover" alt="" ng-src="/upload/courses/{{course.id}}/index" err-src="assets/images/404.jpg" style="padding: 0px; width: 100%; height: 100%;" >
                        </a>
                    </div>

					<div class="caption" style="height:22%; position: relative;">
						<h5 ng-if="course.learns != undefined" style="position: absolute; text-align: left; bottom: 0px;  left: 10px;" >
							{{course.learns}}
							<i class="fa fa-graduation-cap" style="color: #2365ac"></i>
						</h5>
						<span style="position: absolute; text-align: right; bottom: 0px; right: 5px;">
						<a ng-show="canedit" ng-click="editor(course.id)" href="javascript:;" class="btn btn-warning text-noshadow text-shadow-hover" role="button">编辑</a>
						<a ng-show="canedit" ng-click="courseRemove(course)" href="javascript:;" class="btn btn-danger text-noshadow text-shadow-hover" role="button">删除</a>
						<a ng-click="learn(course.id)" href="javascript:;" class="btn btn-success text-shadow-hover" role="button" ng-if="course.learn_progress > 0">继续</a>
						<a ng-click="learn(course.id)" href="javascript:;" class="btn btn-primary text-shadow-hover" role="button" ng-if="course.learn_progress == 0">学习</a>
					</span>
					</div>
				</div>
			</div>
		</div>
		<div style="height:40px"></div>
	</div>
	<script type="text/ng-template" id="confirm.html">
		<div class="modal-header">
			<h3>确定</h3>
		</div>
		<div class="modal-body">
			确定删除此课程？
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">确定</button>
			<button class="btn btn-warning" ng-click="cancel()">取消</button>
		</div>
	</script>

</div>
