<div class="page page-general" data-ng-controller="ContestsCtrl">
	<div class="row">
		<div class="col-md-12">
			<section class="panel panel-default table-dynamic">
				<div class="table-filters">
					<div class="row">
						<div class="col-sm-4 col-xs-6">
							<form>
								<input type="text" placeholder="根据比赛名称搜索..." class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()">
							</form>
						</div>
						<div class="col-sm-3 col-xs-6 filter-result-info">
							<span>
								当前显示 {{filteredStores.length}}/{{stores.length}}
							</span>
						</div>
						<div class="col-sm-5 col-xs-6" align="right">
							<button type="button" class="btn btn-primary" ng-click="addContest()">添加比赛</button>
						</div>
					</div>
				</div>

				<table class="table table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th>
								<div class="th">
									比赛名称
									<span class="fa fa-angle-up" data-ng-click=" order('title') " data-ng-class="{active: row == 'title'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-title') " data-ng-class="{active: row == '-title'}"></span>
								</div>
							</th>
							<th style="width: 180px;">
								<div class="th">
									开始时间
									<span class="fa fa-angle-up" data-ng-click=" order('start') " data-ng-class="{active: row == 'start'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-start') " data-ng-class="{active: row == '-start'}"></span>
								</div>
							</th>
							<th style="width: 180px;">
								<div class="th">
									结束时间
									<span class="fa fa-angle-up" data-ng-click=" order('end') " data-ng-class="{active: row == 'end'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-end') " data-ng-class="{active: row == '-end'}"></span>
								</div>
							</th>
							<th style="width: 100px;">
								<div class="th">
									状态
									<span class="fa fa-angle-up" data-ng-click=" order('status') " data-ng-class="{active: row == 'status'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-status') " data-ng-class="{active: row == '-status'}"></span>
								</div>
							</th>
							<th style="width: 220px;">
								<div class="th">
									操作
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="ctst in currentPageStores">
							<td><a href="javascript:;" ng-click="contestMore(ctst)">{{ctst.title}}</a></td>
							<td>{{ctst.start*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td>{{ctst.end*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td><span style="font-weight: bold;color: {{statusCls(ctst.status)}}">{{statusLabel(ctst.status)}}</span></td>
							<td style="padding:10px;">
								<button ng-click="contestMore(ctst)" class="btn btn-sm btn-success">详情</button>
								<button ng-click="contestEditor(ctst)" ng-disabled="ctst.status!=0" class="btn btn-sm btn-primary">编辑</button>
								<button ng-click="contenstRemove(ctst)" ng-disabled="ctst.status==1" class="btn btn-sm btn-danger">删除</button>
							</td>
						</tr>
					</tbody>
				</table>

				<footer class="table-footer">
					<div class="row">
						<div class="col-md-6 page-num-info">
							<span>
							每页显示
							<select data-ng-model="numPerPage"
								data-ng-options="num for num in numPerPageOpt"
								data-ng-change="onNumPerPageChange()">
							</select>
							条
							</span>
						</div>
						<div class="col-md-6 text-right pagination-container">
							<uib-pagination class="pagination-sm" ng-model="currentPage" total-items="filteredStores.length" max-size="4" ng-change="select(currentPage)" items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"></uib-pagination>
						</div>
					</div>
				</footer>
			</section>
		</div>
	</div>

	<script type="text/ng-template" id="confirm.html">
		<div class="modal-header">
			<h3>确定</h3>
		</div>
		<div class="modal-body">
			确定删除此比赛记录？
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">确定</button>
			<button class="btn btn-warning" ng-click="cancel()">取消</button>
		</div>
	</script>
</div>