<div class="page page-general" ng-controller="ContestsAddCtrl">

	<div class="row">
		<div class="col-lg-8">
			<h3>添加比赛</h3>
		</div>
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body padding-xl">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div name="form_signup" class="form-horizontal form-validation">
								<div class="form-group">
									<label class="col-sm-3 control-label">比赛名称</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" ng-model="contests.title" required/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">比赛创建人</label>
									<div class="col-sm-9">
										<label ng-bind="uname" class="form-control"></label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">用户列表</label>
									<div class="col-sm-9">
										<select class="form-control" multiple="multiple" ng-options="user.username for user in userSel" ng-model="user"></select>
										<br/>
										<button type="button" class="btn btn-success" ng-click="userManage()">用户管理
                                        </button>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">题目列表</label>
									<div class="col-sm-9">
										<select class="form-control" multiple="multiple" ng-options="question.summary for question in questionSel" ng-model="question" ng-hide="true"></select>
										<table class="table table-bordered table-striped table-responsive">
											<thead>
											<tr ng-click="quesManage()">
												<th style="padding: 10px 15px 10px 15px;width: 60%">题目名</th>
												<th style="padding: 10px 15px 10px 15px;width: 40%">旗帜分</th>
											</tr>
											</thead>
											<tbody>
											<tr data-ng-repeat="question in questionSel">
												<td ng-bind="question.summary" style="padding:10px;line-height: 1; vertical-align: middle;"></td>
												<td style="padding:0;line-height: 1; vertical-align: middle;">
													<input type="text" ng-model="question.flag_score" class="form-control" style="border: 0;background:transparent"
														   onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^0-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/>
												</td>
											</tr>
											</tbody>
										</table>
										<button type="button" class="btn btn-success" ng-click="quesManage()">题目管理
                                        </button>
									</div>
								</div>
								<!--<div class="form-group">
                                    <label class="col-sm-3 control-label">题目分值</label>
                                    <div class="col-sm-9">
                                        <input type="text" ng-model="contests.score" class="form-control"
                                               onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^0-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/>
                                    </div>
                                </div>-->
								<div class="form-group">
									<label class="col-sm-3 control-label">起止时间</label>
									<div class="col-sm-4">
										<input type="text" class="form-control Wdate startstr" ng-model="contests.startstr" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" onchange="" style="height: 34px;border:1px solid #CBD5DD" />
									</div>
									<div class="col-sm-4">
										<input type="text" class="form-control Wdate endstr" ng-model="contests.endstr" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" onchange="" style="height: 34px;border:1px solid #CBD5DD" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<button type="button" ng-click="save()" class="btn btn-primary btn-w-md">保存
                                        </button>
										<button type="button" ng-click="back()" class="btn btn-default btn-w-md">取消
                                        </button>
									</div>
								</div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/ng-template" id="addUserContent.html">
			<div class="modal-header">
				<h3>用户管理</h3>
			</div>
			<div class="modal-body">
				<div class="aui_content" style="padding: 20px 25px;">
					<div id="pickList" style="width: 100%">
						<div class="row">
							<div class="col-sm-5">
								<select class="form-control" style="margin-bottom:10px;" ng-model="myCate" ng-options="cate.value as cate.text for cate in cates" ng-change="changeCate(myCate)">
									<option value="">请选择用户类型</option>
								</select>
								<select class="form-control" multiple="multiple" style="height: 200px;" ng-model="userSel1" ng-options="user.username for user in users"></select>
							</div>
							<div class="col-sm-2" style="padding: 40px 20px;">
								<button style="width: 50px;margin-top: 10px;" class="btn btn-primary btn-sm" ng-click="ltor()">>
                                </button>
								<button style="width: 50px;margin-top: 10px;" class="btn btn-primary btn-sm" ng-click="lator()">>>
                                </button>
								<button style="width: 50px;margin-top: 10px;" class="btn btn-primary btn-sm" ng-click="rtol()"><
                                </button>
								<button style="width: 50px;margin-top: 10px;" class="btn btn-primary btn-sm" ng-click="ratol()"><<
                                </button>
							</div>
							<div class="col-sm-5">
								<select class="form-control" style="height: 244px !important;" ng-model="userSel2" ng-options="user.username for user in users2" multiple="multiple">
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="ok()">确定</button>
				<button class="btn btn-warning" ng-click="cancel()">取消</button>
			</div>
		</script>

		<script type="text/ng-template" id="addQuesContent.html">
			<div class="modal-header">
				<h3>题目管理</h3>
			</div>
			<div class="modal-body">
				<div class="aui_content" style="padding: 20px 25px;">
					<div id="pickList" style="width: 100%">
						<div class="row">
							<div class="col-sm-5">
								<select class="form-control" style="margin-bottom:10px;" ng-model="myCate" ng-options="cate for cate in cates" ng-change="changeCate(myCate)">
									<option value="">请选择题目标签</option>
								</select>
								<select class="form-control" multiple="multiple" style="height: 200px;" ng-model="lesson" ng-options="question.summary for question in questions"></select>
							</div>
							<div class="col-sm-2" style="padding: 40px 20px;">
								<button style="width: 50px;margin-top: 10px;" class="btn btn-primary btn-sm" ng-click="ltor()">>
                                </button>
								<button style="width: 50px;margin-top: 10px;" class="btn btn-primary btn-sm" ng-click="lator()">>>
                                </button>
								<button style="width: 50px;margin-top: 10px;" class="btn btn-primary btn-sm" ng-click="rtol()"><
                                </button>
								<button style="width: 50px;margin-top: 10px;" class="btn btn-primary btn-sm" ng-click="ratol()"><<
                                </button>
							</div>
							<div class="col-sm-5">
								<select class="form-control" style="height: 244px !important;" ng-model="lesson2" ng-options="question.summary for question in questions2" multiple="multiple">
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="ok()">确定</button>
				<button class="btn btn-warning" ng-click="cancel()">取消</button>
			</div>
		</script>
	</div>
</div>