<div class="page page-general" ng-controller="ContestsMoreCtrl">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class=" panel-heading row">
                	<div class="col-lg-12">
            		<h3>比赛详情 - <span class="small" ng-bind="contest.title"></span>
            			<button class="btn btn-default" ng-click="back()" style="margin-left:5px;">返回</button>
            			<div style="float:right" ng-show="begin">比赛剩余时间：{{remainTime | fmtTime}}</div>
            			<div style="float:right" ng-show="beforebegin">比赛即将开始：{{beforeTime | fmtTime}}</div>
            		</h3>
            		</div>
        		</div>
        		<div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">题目用户矩阵</div>
                                <div class="panel-body auto-height" style="overflow: auto;">
	                                <table class="table no-padding">
	                                    <thead>
	                                    <tr>
	                                        <th></th>
	                                        <th class="text-center" ng-repeat="idx in quesCntList" ng-bind="questionscore(idx)"></th>
	                                        <!--<th class="text-center">2</th>-->
	                                    </tr>
	                                    </thead>
	                                    <tbody>
	                                    <tr ng-repeat="user in contest.solved_questions" class="text-center">
	                                        <td ng-bind="user.realname"></td>
	                                        <td ng-repeat="ques in contest.questions">
	                                            <button tooltip-placement="top"
	                                                    uib-tooltip-html="'题目名：'+ques.summary+' <br /> 分值：'+ques.flag_score+' <br /> 用户名：'+user.username+' <br /> 真实姓名：'+user.realname"
	                                                    tooltip-append-to-body="true" class="btn btn-xs {{iscomplete(user.questions, ques.id)}}"> &nbsp; &nbsp; </button>
	                                        </td>
	                                        <!--<td>Table cell</td>-->
	                                    </tr>
	                                    <!--<tr>-->
	                                    <!--<td>Table cell</td>-->
	                                    <!--<td>Table cell</td>-->
	                                    <!--<td>Table cell</td>-->
	                                    <!--</tr>-->
	                                    </tbody>
	                                </table>
	                            </div>
                            </div>
                        </div>
                        <div class="col-md-3 no-padding">
                            <div class="panel panel-default">
                                <div class="panel-heading">积分榜</div>
                                <div class="panel-body auto-height" style="overflow: auto;">
	                                <table class="table">
	                                    <thead>
	                                    <tr>
	                                        <th>排名</th>
	                                        <th>战队</th>
	                                        <th>总分</th>
	                                    </tr>
	                                    </thead>
	                                    <tbody>
	                                    <tr ng-repeat="s in contest.scoreboard">
	                                        <td ng-bind="s.rank"></td>
	                                        <td ng-bind="s.realname"></td>
	                                        <td ng-bind="s.score"></td>
	                                    </tr>
	                                    </tbody>
	                                </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">进度实时事件</div>
                                <div class="panel-body auto-height" style="overflow: auto;">
	                                <table class="table">
	                                    <thead>
	                                    <tr>
	                                        <th width="170">时间</th>
	                                        <th>事件</th>
	                                    </tr>
	                                    </thead>
	                                    <tbody id="events">
	                                    <tr data-ng-repeat="evt in events">
	                                        <td ng-bind="evt.time*1000 | date:'yyyy-MM-dd HH:mm:ss'"></td>
	                                    </tr>
	                                    </tbody>
	                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>