<div class="page-signin" ng-controller="authCtrl" id="bg" style="height: 1200px;">
	<div class="login">
		<div style="position: relative;z-index: 10">
			<div>
				<div id="logo">
					<h1 class="hogo"><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{main.brand}}</i></h1>
				</div>
				<section class="stark-login">
					<form class="form-horizontal">
						<fieldset>
							<div id="fade-box">
								<input type="text" ng-model="uname" placeholder="用户名"  required=""/>
								<input type="password" ng-model="upass" placeholder="密&#12288;码" required=""/>

								<div class="form-group">
									<button ng-click="login()" >登&#12288;录</button>
								</div>
								<div class="form-group">
									<div class="err-body" style="z-index: 9; font-size: 20px; font-weight: bold;color: #FF0000;" ng-bind="error"></div>
								</div>
							</div>
						</fieldset>
					</form>
					<div class="hexagons">
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<br>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<br>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>

						<br>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<br>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
						<span>&#x2B22;</span>
					</div>
				</section>
				<div id="circle1">
					<div id="inner-cirlce1">
						<h2> </h2>
					</div>
				</div>
				<header class="htmleaf-header">
					<h1>公安部第三研究所网络攻防实验平台
						<span>The Third Research Institute of Ministry of Public Security</span>
					</h1>
					<div class="htmleaf-links">
						<a href="#/dashboard" title="首页"><div class="glyphicon glyphicon-home"></div><span style="font-size: 20px"> 首页 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
						<a href="#/page/signin2" title="比赛登陆页"><div class="glyphicon glyphicon-fire"></div><span style="font-size: 20px"> 比赛</span></a>
					</div>
				</header>
			</div>
		</div>
		<div class="row" id="particles">
			<div >
				<img src="../../styles/ui/images/login-1.png" class="garden" alt="">
				<img src="../../styles/ui/images/login-2.png" class="garden1" alt="">
				<img src="../../styles/ui/images/login-3.png" class="garden2" alt="">
			</div>
		</div>
	</div>
</div>