<div class="page page-lock" onload="vmwindows.focus()" ng-controller="VNCCtrl" style="height: {{screenHeight-70}}px;  min-width: 1024px; overflow: auto;">
	<div class="row" style="position: absolute; {{fullScreen ? 'top:0px; bottom:0px; left:4px; right: 4px': 'top:10px; bottom:10px; left:20px; right: 20px'}}">
		<div class="col-md-{{big?'12':'9'}}" style="padding-left: 5px;padding-right: 5px;">
			<section onclick="vmwindows.focus()" class="panel panel-default mail-container ">
				<div class="panel-heading" style="font-size: 14px; {{fullScreen ? 'height: 25px;  padding-top:2px; padding-bottom:2px':'';}}">
                    <table style="width: 100% ">
                        <tr>
                            <th style="text-align: left; min-width: 100px;">
                                <strong><span class="glyphicon glyphicon-th"></span> 操作区域</strong>
                            </th>
                            <th style="min-width: 150px;">
                                <span style="font-size: 14px;text-align: left;color: grey;">答题时间还剩：</span>
                                <span style="color:#FE7F0C;font-weight: bolder;white-space: nowrap;">{{remainTime | fmtTime}}</span>
                            </th>
                            <th style="min-width: 80px;text-align: right;">
                                <span style="font-size: 14px;color: grey;">入口地址：</span>
                            </th>
                            <th>
                                <span style="color:#FE7F0C;font-weight: bolder; overflow: hidden; text-align: left; ">{{enteraddress}}</span>
                            </th>
                            <th style="min-width: 80px; float: right; text-align: right; display:inline; margin-left:5px;vertical-align:middle;">
                                <button ng-click="setFullScreen()" class="btn btn-xs btn-success">{{fullScreen?'退出全屏':'全屏'}}</button>
                                <button ng-click="showbig()" class="btn btn-xs btn-right {{!big ? 'btn-danger': 'btn-primary'}}">{{!big?'展开':'收起'}}</button>
                            </th>
                            <th style="min-width: 125px; float: right; text-align: right; display:inline; margin-left:5px;vertical-align:middle;">
                                <button ng-click="commitFlag()"  ng-show="questionSider.flag_score" class="btn btn-xs btn-info">旗帜文件提交</button>
                                <button ng-if='rdpurl' ng-click="changeConnection()" class="btn btn-xs btn-warning">{{connectionButton}}</button>
                            </th>
                            <th>
                                <!--<button ng-click="back()" class="btn btn-xs" style="margin-right:5px;">返回</button>-->
                            </th>
                        </tr>
                    </table>
				</div>
				<div style="padding: 5px;">
					<iframe onload="vmwindows.focus()" id="vmwindows" ng-src="{{conntionURL}}" frameborder="no" style="width: 100%;height: {{screenHeight - 80 + (fullScreen ? 50:0)}}px;" scrolling="auto"></iframe>
				</div>
			</section>
		</div>
		<div class="col-md-3" style="padding-left: 5px;padding-right: 5px;" ng-show="!big">
			<div class="ui-tab-container ui-tab-horizontal panel-default panel">
				<uib-tabset justified="false" class="ui-tab">
					<uib-tab heading="作业指导书">
						<p style="height: {{screenHeight - 107}}px; overflow: auto" ng-bind-html="questionSider.guide"></p>
					</uib-tab>
					<uib-tab heading="评论" active="act">
						<div class="panel-body" style="height: {{screenHeight - 97}}px; overflow: auto">
						<div class="media">
							<a href="jarascript:;" class="pull-left">
								<img src="assets/images/g1.jpg" width="40" height="40" />
							</a>
							<div class="media-body">
								<textarea class="form-control" rows="4" placeholder="评论内容至少5个字！" ng-model="cmt.content"></textarea>
							</div>
							<button type="button" ng-click="submitComment()" class="btn btn-primary btn-w-md" style="float: right;margin-top: 5px;" ng-disabled="cmt.content.length<5">提交评论</button>
						</div>
						<div class="media" ng-repeat="comment in comments">
							<a class="pull-left" href="javascript:;">
								<img alt="" src="assets/images/g1.jpg" class="img-rounded img30_30">
							</a>
							<div class="media-body">
								<p><b>{{comment.username}}</b> 发表评论</p>
								<p>{{comment.content}}</p>
								<p>{{comment.logtime | date:'yyyy-MM-dd HH:mm:ss'}}<a ng-click="replyComment(comment.id)" href="javascript:;" style="float: right;">回复</a></p>
								<div class="media" ng-show="comment.id == cmt.replynow">
									<a class="pull-left" href="javascript:;">
										<img alt="" src="assets/images/g1.jpg" class="img-rounded img30_30">
									</a>
									<div class="media-body">
										<h4 class="media-heading">回复{{comment.username}}：</h4>
										<p><textarea class="form-control" rows="4" placeholder="回复评论内容至少5个字！" ng-model="cmt.replycontent"></textarea></p>
									</div>
									<button type="button" ng-click="submitReply(comment.username, comment.id)" class="btn btn-primary btn-w-md" style="float: right;margin-top: 5px;" ng-disabled="cmt.replycontent.length<5">提交回复</button>
								</div>
								<div class="media" ng-repeat="reply in comment.replys">
									<a class="pull-left" href="javascript:;">
										<img alt="" src="assets/images/g1.jpg" class="img-rounded img30_30">
									</a>
									<div class="media-body">
										<p><b>{{reply.username}}</b> 回复 {{reply.replayname}}</p>
										<p>{{reply.content}}</p>
										<p>{{reply.logtime | date:'yyyy-MM-dd HH:mm:ss'}}<a ng-click="replyComment(reply.id)" href="javascript:;" style="float: right;">回复</a></p>
										<div class="media" ng-show="reply.id == cmt.replynow">
											<a class="pull-left" href="javascript:;">
												<img alt="" src="assets/images/g1.jpg" class="img-rounded img30_30">
											</a>
											<div class="media-body">
												<h4 class="media-heading">回复{{reply.username}}：</h4>
												<p><textarea class="form-control" rows="4" placeholder="回复评论内容至少5个字！" ng-model="cmt.replycontent"></textarea></p>
											</div>
											<button type="button" ng-click="submitReply(reply.username, comment.id)" class="btn btn-primary btn-w-md" style="float: right;margin-top: 5px;" ng-disabled="cmt.replycontent.length<5">提交回复</button>
										</div>
									</div>
								</div>
								<hr />
							</div>
						</div>
						</div>
					</uib-tab>
                </uib-tabset>
			</div>

		</div>
	</div>

	<script type="text/ng-template" id="commitFlag.html">
		<div class="modal-header">
			<h3>旗帜文件提交</h3>
		</div>
		<div class="modal-body">
			<div class="panel">
				<div class="panel-body">
					旗帜文件内容:<textarea ng-model="flag" class="form-control"></textarea>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-success" ng-click="submit()">提交</button>
			<button class="btn btn-primary" ng-click="cancel()">关闭</button>
		</div>
	</script>
</div>