body, button, input, select, textarea, h1 ,h2, h3, h4, h5, h6, a {
    font-family: Helvetica, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.text-long-hide {
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: nowrap;
}

@media (min-width: 1700px) {
    .container {
        width: 1700px; }
    .col-zdlg-2-5{
        float: left;
        width:20%;
    }
}

.btn-white {
	background-color: #f6f6f6;
}

.footer {
    color: #999;
    width: 100%;
    position:relative;
    padding: 6px 0;
    text-align: center;
    margin-top: -32px;
    overflow: hidden;
    zoom: 1;
    border-top: #ccc 1px solid;
}
	

.gradient-text {
    font-size: 18px;
    font-weight: 500;
    color: #2771C1;
    background: -webkit-linear-gradient(92deg, #11fffa, #007fff, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.course-title {
	font-size: 18px;
	text-overflow: ellipsis;
    overflow: visible;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
    text-shadow:#000 2px 2px 5px;
}

.text-border {
    color: transparent;
    webkit-text-stroke: 1px #6d686e;
    color: #f1fdff;
}

.text-shadow {
    text-shadow:#000 1px 1px 18px;
}

.img-hover{
    box-shadow: 6px 6px 5px #888888;
}
.img-hover :hover {
     box-shadow: 3px 3px 5px #888888;
     transform:translate(1px,1px);
}
.img-hover :active {
    border: 0;
     box-shadow: 3px 3px 15px #7ac6ff;
     transform:translate(1px,1px);
}

.text-noshadow{
    text-shadow:#000 0 0 0;
}

.text-shadow-hover:hover {
    text-shadow:#fff 1px 1px 18px;
}

.course-introduction {
	height: 90px;
}

.course-introduction p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.card-button {
	position: relative;
	z-index: 1;
	color: #fff;
}

.network-bar {
	height: 28px;
	line-height: 28px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	width: 100%;
	border-radius: 14px;
	margin-top: 120px;
	cursor: pointer;
	position: relative;
	z-index: 100;
}

.gray-border {
	border: 2px dashed #cccccc !important;
}

.network-bar span {
	display: inherit;
	color: #333;
	line-height: 12px;
	font-size: 12px;
}

.network-bar a {
	color: white;
	text-decoration: none;
	position: absolute;
	right: 18px;
	top: 6px;
	z-index: 99;
}

.server-block {
	width: 100px;
	height: 70px;
	border: 3px solid #333;
	border-radius: 10px;
	position: absolute;
	z-index: 99;
	cursor: pointer;
}

.server-block .server-name {
	text-align: center;
	padding-top: 8px;
}

.server-block .server-label {
	color: #ffffff;
	background: #333333;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}

.server-block .network-line {
	position: absolute;
	width: 4px;
	z-index: 88;
}

.server-block .server-icon {
	position: absolute;
	right: -15px;
	top: -15px;
	width: 35px;
	height: 35px;
	float: right;
	z-index: 100;
	border: 1px solid #EEE;
	border-radius: 50px;
}

.server-block .icon-server-linux {
	background-size: 100%;
	background-color: #fff;
	background-image: url(../styles/ui/images/linux.png);
}

.server-block .icon-server-windows {
	background-size: 100%;
	background-color: #fff;
	background-image: url(../styles/ui/images/windows.png);
}

.server-block .icon-server-router {
	background-size: 100%;
	background-color: #fff;
	background-image: url(../styles/ui/images/router.png);
}

.server-block .icon-server-unknow {
	background-size: 100%;
	background-color: #fff;
	background-image: url(../styles/ui/images/unknow.png);
}

.server-block .icon-server-linux.running {
	background-image: url(../styles/ui/images/linux-r.png);
	border: 3px solid #27C46B;
	background-color: #CFFFBF
}

.server-block .icon-server-windows.running {
	background-image: url(../styles/ui/images/windows-r.png);
	border: 3px solid #27C46B;
	background-color: #CFFFBF
}

.server-block .icon-server-router.running {
	background-image: url(../styles/ui/images/router-r.png);
	border: 3px solid #27C46B;
	background-color: #CFFFBF
}

.server-block .icon-server-unknow.running {
	background-image: url(../styles/ui/images/unknow-r.png);
	border: 3px solid #27C46B;
	background-color: #CFFFBF
}

.padding-15 {
	padding: 15px;
}

.padding-30 {
	padding: 30px;
}

table.no-padding > tbody > tr > td {
	padding: 5px;
}

.r-running,.r-ACTIVE,.r-Running {
	color: greenyellow;
}
.popover {
	z-index: 999;
	max-width: 280px;
}

.body-head #header .nav-left,
.body-head #nav-container {
	display: none; }

.body-head #content {
	z-index: 2;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0;
	padding-bottom: 50px; }

.body-head .on-canvas #content {
	margin-left: 0;
	margin-right: 0; }

.body-head .on-canvas .main-container {
	overflow: auto; }

.body-head .layout-boxed > .main-container {
	max-width: 100%; }

.btn-purple {
    color: #fff;
    background-color: #b148f6;
    border-color: #b118f5; }
.btn-purple:focus, .btn-purple.focus {
    color: #fff;
    background-color: #9f32f2;
    border-color: #530990; }
.btn-purple:hover {
    color: #fff;
    background-color: #9815f2;
    border-color: #7e08d0; }
.btn-purple:active, .btn-purple.active,
.open > .btn-purple.dropdown-toggle {
    color: #fff;
    background-color: #9815f2;
    border-color: #7e08d0; }
.btn-purple:active:hover, .btn-purple:active:focus, .btn-purple:active.focus, .btn-purple.active:hover, .btn-purple.active:focus, .btn-purple.active.focus,
.open > .btn-purple.dropdown-toggle:hover,
.open > .btn-purple.dropdown-toggle:focus,
.open > .btn-purple.dropdown-toggle.focus {
    color: #fff;
    background-color: #7e08d0;
    border-color: #530990; }
.btn-purple:active, .btn-purple.active,
.open > .btn-purple.dropdown-toggle {
    background-image: none; }
.btn-purple.disabled:hover, .btn-purple.disabled:focus, .btn-purple.disabled.focus, .btn-purple[disabled]:hover, .btn-purple[disabled]:focus, .btn-purple[disabled].focus,
fieldset[disabled] .btn-purple:hover,
fieldset[disabled] .btn-purple:focus,
fieldset[disabled] .btn-purple.focus {
    background-color: #b148f6;
    border-color: #b118f5; }
.btn-purple .badge {
    color: #b148f6;
    background-color: #fff; }
    
    
.echarts2{
    padding: 0px;
    height: 300px;
    border: dashed 1px darkblue;
}

.themes2{
    padding: 0px;
    border: dashed 1px darkblue;
}
