#loader-container {
    background: #EDF0F1 url("../assets/images//puff.svg") no-repeat center center;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999;
}

#loading-1{
    /*background-color: #f2f2ec;*/
    height: 90%;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
}
#loading-center-1{
    width: 100%;
    height: 100%;
    position: relative;
}
#loading-center-absolute-1 {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 80px;
    width: 180px;
    margin-top: -10px;
    margin-left: -50px;

}
.loading-object-1{
    width: 20px;
    height: 20px;
    background-color: rgba(82, 255, 34, 0.96);
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    position: absolute;
}
#loading-object_one-1{
    -webkit-animation: loading-object-1 2s linear infinite;
    animation: loading-object-1 2s linear infinite;
}
#loading-object_two-1{
    -webkit-animation: loading-object-1 2s linear infinite -.4s;
    animation: loading-object-1 2s linear infinite -.4s;
}
#loading-object_three-1{
    -webkit-animation: loading-object-1 2s linear infinite -.8s;
    animation: loading-object-1 2s linear infinite -.8s;
}
#loading-object_four-1{
    -webkit-animation: loading-object-1 2s linear infinite -1.2s;
    animation: loading-object-1 2s linear infinite -1.2s;
}
#loading-object_five-1{
    -webkit-animation: loading-object-1 2s linear infinite -1.6s;
    animation: loading-object-1 2s linear infinite -1.6s;
}
@-webkit-keyframes loading-object-1{
    0% { left: 100px; top:0}
    80% { left: 0; top:0;}
    85% { left: 0; top: -20px; width: 20px; height: 20px;}
    90% { width: 40px; height: 15px; }
    95% { left: 100px; top: -20px; width: 20px; height: 20px;}
    100% { left: 100px; top:0; }
}
@keyframes loading-object-1{
    0% { left: 100px; top:0}
    80% { left: 0; top:0;}
    85% { left: 0; top: -20px; width: 20px; height: 20px;}
    90% { width: 40px; height: 15px; }
    95% { left: 100px; top: -20px; width: 20px; height: 20px;}
    100% { left: 100px; top:0; }
}