#bg {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  width: 100%;
  float: left;
  background: #0a0a0a;
  position: absolute;
  overflow: hidden;
}
#particles {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url(ui/images/login.png) no-repeat;
  background-size: 100%;
}
.garden,
.garden1,
.garden2 {
  position: absolute;
  width: 33%;
  background-size: 100%;
  bottom: 44%;
  left: 6%;
  z-index: 0;
}
.garden {
  -webkit-animation: rotate1 25s infinite linear;
  -o-animation: rotate1 25s infinite linear;
  -moz-animation: rotate1 25s infinite linear;
  -ms-animation: rotate1 25s infinite linear;
}
.garden1 {
  -webkit-animation: rotate2 25s infinite linear;
  -o-animation: rotate2 25s infinite linear;
  -moz-animation: rotate2 25s infinite linear;
  -ms-animation: rotate2 25s infinite linear;
}
@-webkit-keyframes rotate1 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@-o-keyframes rotate1 {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@-o-keyframes rotate2 {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(-360deg);
  }
}
@-moz-keyframes rotate1 {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate2 {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@media screen and (max-width: 1366px) {
  .garden,
  .garden1,
  .garden2 {
    position: absolute;
    width: 33%;
    background-size: 100%;
    bottom: 50%;
    left: 0%;
    z-index: 0;
  }
}
@media screen and (max-width: 1024px) {
  #bg {
    width: 1024px;
  }
  .garden,
  .garden1,
  .garden2 {
    position: absolute;
    width: 33%;
    background-size: 100%;
    bottom: 55%;
    left: 0%;
    z-index: 0;
  }
}


[class^="icon-"], [class*=" icon-"] {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.htmleaf-container{
    margin: 0 auto;
    overflow: hidden;
}

.bgcolor-1 { background: #f0efee; }
.bgcolor-2 { background: #f9f9f9; }
.bgcolor-3 { background: #e8e8e8; }/*light grey*/
.bgcolor-4 { background: #2f3238; color: #fff; }/*Dark grey*/
.bgcolor-5 { background: #df6659; color: #521e18; }/*pink1*/
.bgcolor-6 { background: #2fa8ec; }/*sky blue*/
.bgcolor-7 { background: #d0d6d6; }/*White tea*/
.bgcolor-8 { background: #3d4444; color: #fff; }/*Dark grey2*/
.bgcolor-9 { background: #ef3f52; color: #fff;}/*pink2*/
.bgcolor-10{ background: #64448f; color: #fff;}/*Violet*/
.bgcolor-11{ background: #3755ad; color: #fff;}/*dark blue*/
.bgcolor-12{ background: #3498DB; color: #fff;}/*light blue*/
/* Header */
.htmleaf-header{
    animation: logo-entry 5s ease-in;
    padding: 1em 190px 1em;
    letter-spacing: -1px;
    min-width: 1000px;
}
.htmleaf-header h1 {
    color: #fff;
    font-weight: 600;
    font-size: 3.5em;
    line-height: 1;
    margin-bottom: 0;
}
.htmleaf-header h1 span {
    display: block;
    font-size: 60%;
    font-weight: 400;
    padding: 0.8em 0 0.5em 0;
    color: #c3c8cd;
}

/* Top Navigation Style */
.htmleaf-links a{
    position: relative;
    display: inline-block;
    font-size: 2.5em;
    text-align: center;
    text-decoration:none;
}
.htmleaf-links::before a{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    color: #dbdbdb;
    background: #dbdbdb;
    -webkit-transform: rotate3d(0,0,1,22.5deg);
    transform: rotate3d(0,0,1,22.5deg);
}

.htmleaf-links::after a{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #dbdbdb;
    content: '';
    -webkit-transform: rotate3d(0,0,1,22.5deg);
    transform: rotate3d(0,0,1,22.5deg);
}

/* footer */
.htmleaf-footer{width: 100%;padding-top: 10px;}
.htmleaf-small{font-size: 0.8em;}
.center{text-align: center;}
/****/
.related {
    color: #fff;
    background: #333;
    text-align: center;
    font-size: 1.25em;
    padding: 0.5em 0;
    overflow: hidden;
}

.related > a {
    vertical-align: top;
    width: calc(100% - 20px);
    max-width: 340px;
    display: inline-block;
    text-align: center;
    margin: 20px 10px;
    padding: 25px;
}
.related a {
    display: inline-block;
    text-align: left;
    margin: 20px auto;
    padding: 10px 20px;
    opacity: 0.8;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-backface-visibility: hidden;
}

.related a:hover,
.related a:active {
    opacity: 1;
}

.related a img {
    max-width: 100%;
    opacity: 0.8;
    border-radius: 4px;
}
.related a:hover img,
.related a:active img {
    opacity: 1;
}

/* icomoon */
.icon-htmleaf-home-outline:before {
    content: "\e5000";
}

.icon-htmleaf-arrow-forward-outline:before {
    content: "\e5001";
}

@media screen and (max-width: 50em) {
    .htmleaf-header {
        padding: 3em 10% 4em;
    }
    .htmleaf-header h1 {
        font-size:2em;
    }
}


@media screen and (max-width: 40em) {
    .htmleaf-header h1 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 30em) {
    .htmleaf-header h1 {
        font-size:1.2em;
    }
}

.login {
    box-sizing: border-box;
    background-size: cover;
    font-size: 10px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%;
}

/* =========================================
Stark Industries Logo
========================================= */
#logo {
    animation: logo-entry 4s ease-in;
    width: 500px;
    margin: 0 auto;
    position: relative;
    z-index: 40;
}

.login h1.hogo {
    animation: text-glow 2s ease-out infinite alternate;
    color: #00a4a2;
    font-size: 48px;
    font-size: 4.8rem;
    font-weight: bold;
    position: absolute;
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
    top: 50px;
}
.login h1.hogo:before {
    animation: before-glow 2s ease-out infinite alternate;
    border-left: 535px solid transparent;
    border-bottom: 10px solid #00a4a2;
    content: ' ';
    height: 0;
    position: absolute;
    right: -74px;
    top: -10px;
    width: 0;
}
.login h1.hogo:after {
    animation: after-glow 2s ease-out infinite alternate;
    border-left: 100px solid transparent;
    border-top: 16px solid #00a4a2;
    content: ' ';
    height: 0;
    position: absolute;
    right: -85px;
    top: 24px;
    transform: rotate(-47deg);
    width: 0;
}

/* =========================================
Log in form
========================================= */
#fade-box {
    animation: input-entry 3s ease-in;
    z-index: 4;
}

.stark-login form {
    animation: form-entry 3s ease-in-out;
    background: #111;
    background: linear-gradient(#004746, #111111);
    border: 6px solid #00a4a2;
    box-shadow: 0 0 15px #00fffd;
    border-radius: 5px;
    display: inline-block;
    height: 220px;
    margin: 200px auto 0;
    position: relative;
    z-index: 4;
    width: 500px;
    transition: 1s all;
}
.stark-login form:hover {
    border: 6px solid #00fffd;
    box-shadow: 0 0 25px #00fffd;
    transition: 1s all;
}
.stark-login input {
    background: #222;
    background: linear-gradient(#333333, #222222);
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    color: #888;
    display: block;
    font-size: 13px;
    font-size: 1.3rem;
    height: 40px;
    margin: 20px auto 10px;
    padding: 0 10px;
    text-shadow: 0 -1px 0 #000;
    width: 400px;
}
.stark-login input:focus {
    animation: box-glow 1s ease-out infinite alternate;
    background: #0B4252;
    background: linear-gradient(#333933, #222922);
    border-color: #00fffc;
    box-shadow: 0 0 5px rgba(0, 255, 253, 0.2), inset 0 0 5px rgba(0, 255, 253, 0.1), 0 2px 0 #000;
    color: #efe;
    outline: none;
}
.stark-login input:invalid {
    border: 2px solid red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.2), inset 0 0 5px rgba(255, 0, 0, 0.1), 0 2px 0 #000;
}
.stark-login button {
    animation: input-entry 3s ease-in;
    background: #222;
    background: linear-gradient(#333333, #222222);
    box-sizing: content-box;
    border: 1px solid #444;
    border-left-color: #000;
    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: 20px auto;
    padding: 0;
    position: relative;
    text-shadow: 0 -1px 0 #000;
    width: 400px;
    transition: 1s all;
}
.stark-login button:hover,
.stark-login button:focus {
    background: #0C6125;
    background: linear-gradient(#393939, #292929);
    color: #00fffc;
    outline: none;
    transition: 1s all;
}
.stark-login button:active {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
    top: 1px;
}

/* =========================================
Spinner
========================================= */
#circle1 {
    animation: circle1 4s linear infinite, circle-entry 6s ease-in-out;
    background: #000;
    border-radius: 50%;
    border: 10px solid #00a4a2;
    box-shadow: 0 0 0 2px black, 0 0 0 6px #00fffc;
    height: 500px;
    width: 500px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -250px;
    overflow: hidden;
    opacity: 0.4;
    z-index: -3;
}

#inner-cirlce1 {
    background: #000;
    border-radius: 50%;
    border: 36px solid #00fffc;
    height: 460px;
    width: 460px;
    margin: 10px;
}
#inner-cirlce1:before {
    content: ' ';
    width: 240px;
    height: 480px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
}
#inner-cirlce1:after {
    content: ' ';
    width: 480px;
    height: 240px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
}

/* =========================================
Hexagon Mesh
========================================= */
.hexagons {
    animation: logo-entry 4s ease-in;
    color: #000;
    font-size: 52px;
    font-size: 5.1rem;
    letter-spacing: -0.2em;
    line-height: 0.7;
    position: absolute;
    text-shadow: 0 0 6px #00fffc;
    top: 310px;
    width: 100%;
    transform: perspective(600px) rotateX(60deg) scale(1.4);
    z-index: -3;
}

/* =========================================
Animation Keyframes
========================================= */
@keyframes logo-entry {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes circle-entry {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 0.4;
    }
}
@keyframes input-entry {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes form-entry {
    0% {
        height: 0;
        width: 0;
        opacity: 0;
        padding: 0;
    }
    20% {
        height: 0;
        border: 1px solid #00a4a2;
        width: 0;
        opacity: 0;
        padding: 0;
    }
    40% {
        width: 0;
        height: 220px;
        border: 6px solid #00a4a2;
        opacity: 1;
        padding: 0;
    }
    100% {
        height: 220px;
        width: 500px;
    }
}
@keyframes box-glow {
    0% {
        border-color: #00b8b6;
        box-shadow: 0 0 5px rgba(0, 255, 253, 0.2), inset 0 0 5px rgba(0, 255, 253, 0.1), 0 2px 0 #000;
    }
    100% {
        border-color: #00fffc;
        box-shadow: 0 0 20px rgba(0, 255, 253, 0.6), inset 0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 #000;
    }
}
@keyframes text-glow {
    0% {
        color: #00a4a2;
        text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
    }
    100% {
        color: #00fffc;
        text-shadow: 0 0 20px rgba(0, 255, 253, 0.6), 0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 #000;
    }
}
@keyframes before-glow {
    0% {
        border-bottom: 10px solid #00a4a2;
    }
    100% {
        border-bottom: 10px solid #00fffc;
    }
}
@keyframes after-glow {
    0% {
        border-top: 16px solid #00a4a2;
    }
    100% {
        border-top: 16px solid #00fffc;
    }
}
@keyframes circle1 {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}