<div class="page page-general" ng-controller="ChangePwdCtrl">

    <div class="row">
        <div class="col-lg-8">
            <h3>修改密码</h3>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body padding-xl">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div name="form_signup" class="form-horizontal form-validation">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">旧密码</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" ng-model="oldPwd" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">新密码</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" ng-model="pwd" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">确认新密码</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" ng-model="confirmPwd" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="button" ng-click="save()" class="btn btn-primary btn-w-md">保存
                                        </button>
                                    </div>
                                </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>