<div class="page page-general" ng-controller="UserAddCtrl">

    <div class="row">
        <div class="col-lg-8">
            <h3>添加用户</h3>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body padding-xl">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div name="form_signup" class="form-horizontal form-validation">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">用户名</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="user.username" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">真实姓名</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="user.realname" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">密码</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" ng-model="user.password" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">密码确认</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" ng-model="confirmPwd" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">用户类型</label>
                                    <div class="col-sm-9">
                                        <select class="form-control"
                                                ng-model="user.type">
                                                <option value="">请选择</option>
                                                <option value="1">组用户</option>
                                                <option value="2">地方用户</option></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="button" ng-click="save()" class="btn btn-primary btn-w-md">保存
                                        </button>
                                        <button type="button" ng-click="back()" class="btn btn-default btn-w-md">取消
                                        </button>
                                    </div>
                                </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>