<div class="page page-general" data-ng-controller="UserQuesPublishCtrl">
	<!--<section style="margin-bottom: 10px;">-->
	<!--<button type="button" class="btn btn-primary" ng-click="addQuestion()">发布题目</button>-->
	<!--</section>-->
<style type="text/css">
.ui-checkbox input[type="checkbox"] + span:before{margin-right:0;}</style>
	<div class="row">
		<div class="col-md-12">
			<section class="panel panel-default table-dynamic">
				<!--<div class="page-title">-->
				<!--<div class="title-env">-->
				<!--<label>题目名</label> <span ng-bind="quesName"></span>-->
				<!--</div>-->
				<!--</div>-->
				<div class="panel-heading">
					<h3 class="panel-title">
						<label style="font-weight:normal;">用户名：</label> <span ng-bind="username"></span>
						<label style="font-weight:normal; margin-left:50px;">用户角色：</label> <span ng-bind="roleName"></span>
					</h3>
				</div>
				<div class="table-filters">
					<div class="row">
						<div class="col-sm-5 col-xs-5">
							<form>
								<input type="text" placeholder="根据题目名称搜索..." class="form-control"
									   data-ng-model="searchKeywords" data-ng-keyup="search()">
							</form>
						</div>
						<div class="col-sm-5 col-xs-5 filter-result-info">
							<span>
							当前显示 {{filteredStores.length}}/{{stores.length}}
							</span>
						</div>
						<div class="col-sm-2 col-xs-2">
							<button style="float: right" type="button" class="btn btn-primary" ng-click="publishQues()">确定</button>
						</div>
					</div>
					<div>
						<div class="col-sm-12 padding-15" style="padding-left: 0;overflow-x: auto;">
							<span style="white-space: nowrap;">题目标签：</span><a ng-repeat="lb in categoryList" class="label {{ischoose(lb)}}" style="margin-right: 5px;margin-top:5px;display:inline-block;" ng-click="filterLabel(lb)">{{lb.name}} <span ng-show="labeledit&&lb.val" class="glyphicon glyphicon-remove"></span></a>
						</div>
						<div class="col-sm-12 padding-15" style="padding-left: 0;overflow-x: auto;padding-top: 0;">
							<span style="white-space: nowrap;">题目难度：</span><a ng-repeat="df in difficultList" class="label {{ischoose2(df)}}" style="margin-right: 5px;" ng-click="filterDifficult(df)">{{df.name}}</a>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-striped table-responsive">
						<thead>
							<tr>
								<th style="width: 30px;">
									<div class="th text-center" style="padding-right:8px;">
										<label class="ui-checkbox1" style="margin-bottom:0;margin-right:0;"><input name="checkbox1" type="checkbox" ng-click="checkAll()" ng-model="isAllChecked" value="option1"><span></span></label>
									</div>
								</th>
								<th>
									<div class="th">
										题目名称
										<span class="fa fa-angle-up" data-ng-click=" order('summary') " data-ng-class="{active: row == 'summary'}"></span>
										<span class="fa fa-angle-down" data-ng-click=" order('-summary') " data-ng-class="{active: row == '-summary'}"></span>
									</div>
								</th>
								<th>
									<div class="th">
										题目难度
										<span class="fa fa-angle-up" data-ng-click=" order('difficult') " data-ng-class="{active: row == 'difficult'}"></span>
										<span class="fa fa-angle-down" data-ng-click=" order('-difficult') " data-ng-class="{active: row == '-difficult'}"></span>
									</div>
								</th>
								<th style="width: 130px;">
									<div class="th">
										创建人
										<span class="fa fa-angle-up" data-ng-click=" order('creator_username') " data-ng-class="{active: row == 'creator_username'}"></span>
										<span class="fa fa-angle-down" data-ng-click=" order('-creator_username') " data-ng-class="{active: row == '-creator_username'}"></span>
									</div>
								</th>
								<th style="width: 240px;">
									<div class="th">
										题目标签
										<span class="fa fa-angle-up" data-ng-click=" order('categories') " data-ng-class="{active: row == 'categories'}"></span>
										<span class="fa fa-angle-down" data-ng-click=" order('-categories') " data-ng-class="{active: row == '-categories'}"></span>
									</div>
								</th>
								<th>
									<div class="th">
										发布状态
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="ques in currentPageStores">
								<td class="text-center"><label class="ui-checkbox1" style="margin-bottom:0;margin-right:0;"><input name="checkbox1" type="checkbox" ng-model="ques.checked" value="option1" ng-click="checkIsAllChecked()"><span></span></label></td>
								<td><a href="javascript:;" ng-click="questionTopo(ques)">{{ques.summary}}</a></td>
								<td data-ng-bind-html="diffs(ques.difficult)"></td>
								<td>{{ques.creator_username}}</td>
								<td data-ng-bind-html="labels(ques.categories)"></td>
								<td ng-bind="ques.hasPublish?'已发布':'未发布'" ng-style="{color:ques.hasPublish?'green':'#f9a64d'}" style="padding:10px;line-height: 1; vertical-align: middle;"></td>
							</tr>
						</tbody>
					</table>
					<footer class="table-footer">
						<div class="row">
							<div class="col-md-6 page-num-info">
							<span>
								每页显示
								<select data-ng-model="numPerPage"
										data-ng-options="num for num in numPerPageOpt"
										data-ng-change="onNumPerPageChange()">
								</select>
								条
							</span>
							</div>
							<div class="col-md-6 text-right pagination-container">
								<uib-pagination class="pagination-sm" ng-model="currentPage"
												total-items="filteredStores.length" max-size="4"
												ng-change="select(currentPage)"
												items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;"
												next-text="&rsaquo;" boundary-links="true"></uib-pagination>
							</div>
						</div>
					</footer>
				</div>
			</section>
		</div>
	</div>

</div>