<div class="page page-general" data-ng-controller="UserCtrl">
	<div class="row">
		<div class="col-md-12">
			<section class="panel panel-default table-dynamic">
				<div class="table-filters">
					<div class="row">
						<div class="col-sm-4 col-xs-6">
							<form>
								<input type="text" placeholder="根据用户名搜索..." class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()">
							</form>
						</div>
						<div class="col-sm-3 col-xs-6 filter-result-info">
							<span>
							当前显示 {{filteredStores.length}}/{{stores.length}}
							</span>
						</div>
						<div class="col-sm-5 col-xs-6" align="right" ng-show="canedit">
							<button type="button" class="btn btn-primary" ng-click="addUser()">添加用户</button>						</div>
					</div>
					<div>
						<div class="col-sm-12 padding-15" style="padding-left: 0;overflow-x: auto;">
							<span style="white-space: nowrap;">用户角色：</span><a ng-repeat="r in roleList" class="label {{ischoose(r)}}" style="margin-right: 5px;" ng-click="filterRole(r)">{{r.name}}</a>
						</div>
					</div>
				</div>

				<table class="table table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th>
								<div class="th">
									用户名
									<span class="fa fa-angle-up" data-ng-click=" order('username') " data-ng-class="{active: row == 'username'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-username') " data-ng-class="{active: row == '-username'}"></span>
								</div>
							</th>
							<th>
								<div class="th">
									真实姓名
									<span class="fa fa-angle-up" data-ng-click=" order('realname') " data-ng-class="{active: row == 'realname'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-realname') " data-ng-class="{active: row == '-realname'}"></span>
								</div>
							</th>
							<th>
								<div class="th">
									角色
									<span class="fa fa-angle-up" data-ng-click=" order('type') " data-ng-class="{active: row == 'type'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-type') " data-ng-class="{active: row == '-type'}"></span>
								</div>
							</th>
							<th style="width: 380px;" ng-show="canedit">
								<div class="th">
									操作
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="user in currentPageStores">
							<td>
								<a href="javascript:;" ng-click="questions(user)"><span class="glyphicon glyphicon-th-list"></span></a>
								{{user.username}}
							</td>
							<td ng-bind="user.realname"></td>
							<td ng-bind="roleName[user.type]"></td>
							<td style="padding: 10px;" ng-show="canedit">
								<button class="btn btn-sm btn-success" ng-click="showUser(user)">查看</button>
								<button class="btn btn-sm btn-primary" ng-click="editUser(user)">编辑</button>
								<button class="btn btn-sm btn-danger" ng-click="delUser(user)">删除</button>
								<button class="btn btn-sm btn-warning" ng-click="publishQues(user)">发布题目</button>
								<button class="btn btn-sm btn-warning" ng-if="user.type==1" ng-click="publishUser(user)">发布用户</button>
							</td>
						</tr>
					</tbody>
				</table>

				<footer class="table-footer">
					<div class="row">
						<div class="col-md-6 page-num-info">
							<span>
				每页显示
				<select data-ng-model="numPerPage"
					data-ng-options="num for num in numPerPageOpt"
					data-ng-change="onNumPerPageChange()">
				</select>
				条
				</span>
						</div>
						<div class="col-md-6 text-right pagination-container">
							<uib-pagination class="pagination-sm" ng-model="currentPage" total-items="filteredStores.length" max-size="4" ng-change="select(currentPage)"
								items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"></uib-pagination>
						</div>
					</div>
				</footer>
			</section>
		</div>
	</div>

	<script type="text/ng-template" id="confirm.html">
		<div class="modal-header">
			<h3>确定</h3>
		</div>
		<div class="modal-body">
			确定删除此用户？
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">确定</button>
			<button class="btn btn-warning" ng-click="cancel()">取消</button>
		</div>
	</script>
	<script type="text/ng-template" id="userInfo.html">
		<div class="modal-header">
			<h3>用户信息</h3>
		</div>
		<div class="modal-body" ng-init="roleName = {0:'管理员', 1: '组用户',2: '地方用户'}">
			<div class="media">
				<div class="media-body">
					<ul class="list-unstyled list-info">
						<li>
							<span class="icon glyphicon glyphicon-user"></span>
							<label>用 户 名</label>
							{{user.username}}
						</li>
						<li>
							<span class="icon glyphicon glyphicon-flag"></span>
							<label>真实姓名</label>
							{{user.realname}}
						</li>
						<li>
							<span class="icon glyphicon glyphicon-globe"></span>
							<label>角  色</label>
							{{roleName[user.type]}}
						</li>
					</ul>
					
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">确定</button>
		</div>
	</script>
	
	<script type="text/ng-template" id="userQuestion.html">
		<div class="modal-header">
			<h3>用户已启动题目列表	<button class="btn btn-sm btn-danger" ng-click="destroyAll()">关闭全部题目</button></h3>
		</div>
		<div class="modal-body">
			<div class="form-horizontal form-validation">
				<table class="table table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th>
								<div class="th">题目名称</div>
							</th>
							<th>
								<div class="th">创建时间</div>
							</th>
							<th>
								<div class="th">操作</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="q in questions">
							<td>{{q.question_name}}</td>
							<td>{{q.created_ts * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td style="padding: 10px;">
								<button class="btn btn-sm btn-danger" ng-click="destroy(q)">关闭题目</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-info" ng-click="cancel()">关闭</button>
		</div>
	</script>
</div>