<div class="page" data-ng-controller="Dashboard3Ctrl">
	<div class="row panel" style="background: transparent;">
		<div class="col-sm-12" style="font-size: 1.5em;text-align: center;height: 2em;line-height: 2em;">
			{{currentContest.title}}
			&nbsp;&nbsp;&nbsp;&nbsp;{{enteraddress}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-body" style="text-align: center;">总分：{{mine.score}}<span style="margin:0 30px;"></span>排名：{{mine.rank}}</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading" style="text-align: center;">
							赛题
							<div style="float: right;">距离比赛结束还剩：<span style="color:#FE7F0C;font-weight: bolder;">{{remainTime | fmtTime}}</span></div>
						</div>
						<ul class="list-group" style="height: 550px;overflow: auto;">
							<li class="list-group-item" ng-repeat="q in mine.questions">
								<span class="label label-info">{{$index+1}}</span>
								<a href="javascript:;" ng-click="questionTopo(q)">{{q.summary}}</a>
								<div style="float: right;">{{q.question_score || 0}}</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading" style="text-align: center;">
							进度实时事件
						</div>
						<div class="panel-body" style="height: 620px; overflow: auto;">
							<p ng-repeat="evt in events">[{{evt.time*1000|dtFormat}}] {{evt | eventMessage}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>