<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

	<div class="row">
		<div class="text-center">
			<!-- Stats -->
			<div class="col-lg-3 col-sm-6">
				<div class="panel mini-box">
					<a ng-click="showUsers()" class="btn-icon btn-icon-round btn-icon-lg-alt bg-info" tooltip-placement="bottom" uib-tooltip-html="'登录用户数：' + overview.users.login_users + '<br />答题用户数：' + overview.users.answer_users + '<br />总用户数：' + overview.users.total_users">
						<i class="fa fa-users"></i>
					</a>
					<div class="box-info">
						<p class="size-h2">{{overview.users.total_users}} <span class="size-h4">个</span></p>
						<p class="gradient-text"><span>用户</span></p>
					</div>
					<div style="margin:20px 0 0 0;font-size: 1.2em;"><label style="width: 110px;text-align: left;">登录用户数：</label><span style="width: 40px;display: inline-block;">{{overview.users.login_users}}</span></div>
					<div style="font-size: 1.2em;"><label style="width: 110px;text-align: left;">答题用户数：</label><span style="width: 40px;display: inline-block;">{{overview.users.answer_users}}</span></div>
					<div style="font-size: 1.2em;"><label style="width: 110px;text-align: left;">总用户数：</label><span style="width: 40px;display: inline-block;">{{overview.users.total_users}}</span></div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="panel mini-box">
					<a ng-click="showCourses()" class="btn-icon btn-icon-round btn-icon-lg-alt bg-success" tooltip-placement="bottom" uib-tooltip-html="'难度低：' + overview.lesson1 + '<br />难度中：' + overview.lesson2 + '<br />难度高：' + overview.lesson3">
						<span class="glyphicon glyphicon-book"></span>
					</a>
					<div class="box-info">
						<p class="size-h2">{{overview.courses}} <span class="size-h4">节</span></p>
						<p class="gradient-text"><span>课程</span></p>
					</div>
					<div style="margin:20px 0 0 0;font-size: 1.2em;"><label style="width: 80px;text-align: left;">难度低：</label><span style="width: 40px;display: inline-block;">{{overview.lesson1}} 节</span></div>
					<div style="font-size: 1.2em;"><label style="width: 80px;text-align: left;">难度中：</label><span style="width: 40px;display: inline-block;">{{overview.lesson2}} 节</span></div>
					<div style="font-size: 1.2em;"><label style="width: 80px;text-align: left;">难度高：</label><span style="width: 40px;display: inline-block;">{{overview.lesson3}} 节</span></div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="panel mini-box">
					<a ng-click="showQuestions()" class="btn-icon btn-icon-round btn-icon-lg-alt bg-warning" tooltip-placement="bottom" uib-tooltip-html="'题目总数：' + overview.questions.total_questions + '<br />题目使用数：' + overview.questions.used_questions">
						<i class="glyphicon glyphicon-th-list"></i>
					</a>
					<div class="box-info">
						<p class="size-h2">{{overview.questions.total_questions}} <span class="size-h4">道</span></p>
						<p class="gradient-text"><span>题目</span></p>
					</div>
					<div style="margin:20px 0 0 0;font-size: 1.2em;"><label style="width: 110px;text-align: left;">题目总数：</label><span style="width: 40px;display: inline-block;">{{overview.questions.total_questions}}</span></div>
					<div style="font-size: 1.2em;"><label style="width: 110px;text-align: left;">题目启动数：</label><span style="width: 40px;display: inline-block;">{{overview.questions.used_questions}}</span></div>
					<div style="font-size: 1.2em;"><label style="width: 110px;text-align: left;">&nbsp;</label><span style="width: 40px;display: inline-block;">&nbsp;</span></div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="panel mini-box">
					<a ng-click="showServers()" class="btn-icon btn-icon-round btn-icon-lg-alt bg-danger" tooltip-placement="bottom" uib-tooltip-html="'内核：' + overview.servers.vcpus_used + ' / ' + overview.servers.vcpus + '<br />内存：' + fmtMemory(overview.servers.memory_mb_used) + ' / ' + fmtMemory(overview.servers.memory_mb) + '<br />磁盘：' + fmtDisk(overview.servers.local_gb_used) + ' / ' + fmtDisk(overview.servers.local_gb)">
						<i class="fa fa-shopping-cart"></i>
					</a>
					<div class="box-info">
						<p class="size-h2">{{overview.servers.count}} <span class="size-h4">台</span></p>
						<p class="gradient-text"><span>服务器</span></p>
					</div>
					<div style="margin:20px 0 0 0;font-size: 1.2em;"><label style="width: 60px;text-align: left;">内核：</label><span style="width: 120px;display: inline-block;">{{overview.servers.vcpus_used}} 颗 / {{overview.servers.vcpus}} 颗</span></div>
					<div style="font-size: 1.2em;"><label style="width: 60px;text-align: left; white-space: nowrap;">内存：</label><span style="width: 120px;display: inline-block; white-space: nowrap;">{{fmtMemory(overview.servers.memory_mb_used)}} / {{fmtMemory(overview.servers.memory_mb)}}</span></div>
					<div style="font-size: 1.2em;"><label style="width: 60px;text-align: left; white-space: nowrap;">磁盘：</label><span style="width: 120px;display: inline-block; white-space: nowrap;">{{fmtDisk(overview.servers.local_gb_used) }} / {{fmtDisk(overview.servers.local_gb)}}</span></div>
				</div>
			</div>
			<!-- end stats -->
		</div>
	</div>
	<!--
	<div class="row">
		<div class="col-md-6">

			<div class="panel panel-default panel-minimal">
				<div class="panel-heading">资源情况</div>
				<div class="panel-body">
					<div data-echarts data-options="line2.options" style="height: 350px;"></div>
				</div>
			</div>

		</div>
		<div class="col-md-6">

			<div class="panel panel-default panel-minimal" >
				<div class="panel-heading">日志统计</div>
				<div class="panel-body">
					<div data-echarts data-options="bar1.options" style="height: 350px;"></div>
				</div>
			</div>

		</div>
	</div>
   -->
	<div class="row">
		<div class="col-lg-6 col-sm-12">
			<div class="panel panel-default">
				<div class="panel-body table-responsive" ng-show="userShow">
					<table class="table">
						<thead>
							<tr>
								<th style="min-width:100px">用户名</th>
								<th style="min-width:200px">使用题目</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="user in userCurrentPageStores">
								<td>{{user.username}}</td>
								<td><a ng-click="questionTopo(q)" href="javascript:;" ng-repeat="q in user.questions" style="margin-right:10px;">{{q.question_name}}</a></td>
							</tr>
						</tbody>
					</table>
					<footer class="table-footer">
						<div class="row">
							<div class="col-md-12 text-right pagination-container">
								<uib-pagination class="pagination-sm" ng-model="userCurrentPage" total-items="userFilteredStores.length" max-size="4" ng-change="userSelect(userCurrentPage)" items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"></uib-pagination>
							</div>
						</div>
					</footer>
				</div>
				<div class="panel-body table-responsive" ng-show="courseShow">
					<table class="table">
						<thead>
							<tr>
								<th style="min-width:75px;">课程名</th>
								<th style="min-width:60px;">难度</th>
								<th>学习人数</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="course in courseCurrentPageStores">
								<td>{{course.title}}</td>
								<!--td data-ng-bind-html="diffs(course.difficult)"></td-->
								<td><span class="label label-info">{{diffs(course.difficult)}}</span></td>
								<td>{{course.learns}}</td>
							</tr>
						</tbody>
					</table>
					<footer class="table-footer">
						<div class="row">
							<div class="col-md-12 text-right pagination-container">
								<uib-pagination class="pagination-sm" ng-model="courseCurrentPage" total-items="courseFilteredStores.length" max-size="4" ng-change="courseSelect(courseCurrentPage)" items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"></uib-pagination>
							</div>
						</div>
					</footer>
				</div>
				<div class="panel-body table-responsive" ng-show="questionShow">
					<table class="table">
						<thead>
							<tr>
								<th>题目名称</th>
								<th>使用者</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="question in questionCurrentPageStores">
								<td>{{question.question_name}}</td>
								<td><a ng-click="questionTopo(us)" href="javascript:;" ng-repeat="us in question.users" style="margin-right:10px;">{{us.username}}</a></td>
							</tr>
						</tbody>
					</table>
					<footer class="table-footer">
						<div class="row">
							<div class="col-md-12 text-right pagination-container">
								<uib-pagination class="pagination-sm" ng-model="questionCurrentPage" total-items="questionFilteredStores.length" max-size="4" ng-change="questionSelect(questionCurrentPage)" items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"></uib-pagination>
							</div>
						</div>
					</footer>
				</div>
				<div class="panel-body table-responsive" ng-show="serverShow">
					<table class="table">
						<thead>
							<tr>
								<th>主机名称</th>
								<th style="min-width:60px;">类型</th>
								<th style="min-width:60px;">内核</th>
								<th style="min-width:60px;">内存</th>
								<th style="min-width:60px;">磁盘</th>
								<th style="min-width:60px;">实例</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="usage in serverCurrentPageStores">
								<td ng-bind="usage.hypervisor_hostname"></td>
								<td ng-bind="usage.hypervisor.hypervisor_type"></td>
								<td ng-bind="usage.hypervisor.vcpus"></td>
								<td ng-bind="fmtMemory(usage.hypervisor.memory_mb)"></td>
								<td ng-bind="fmtDisk(usage.hypervisor.local_gb)"></td>
								<td ng-bind="usage.hypervisor.running_vms"></td>
							</tr>
						</tbody>
					</table>
					<footer class="table-footer">
						<div class="row">
							<div class="col-md-12 text-right pagination-container">
								<uib-pagination class="pagination-sm" ng-model="serverCurrentPage" total-items="serverFilteredStores.length" max-size="4" ng-change="serverSelect(serverCurrentPage)" items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"></uib-pagination>
							</div>
						</div>
					</footer>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12">
			<div class="panel panel-default">
				<div class="panel-body table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th style="min-width:169px;">操作时间</th>
								<th style="min-width:75px;">用户名</th>
								<th >IP地址</th>
								<th>日志类型</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="log in logs">
								<td>{{log.logtime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
								<td>{{log.username}}</td>
								<td>{{log.ip}}</td>
								<td><span class="label label-info">{{logtypes[log.type]}}</span></td>
							</tr>
						</tbody>
					</table>
					<footer class="table-footer">
						<div class="row">
							<div class="col-md-12 text-right pagination-container">
								<uib-pagination class="pagination-sm" ng-model="logCurrentPage" total-items="logTotal" max-size="4" ng-change="logSelect(logCurrentPage)" items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"></uib-pagination>
							</div>
						</div>
					</footer>
				</div>
			</div>
		</div>
	</div>

</div>
