
@mixin bg-style ($background, $color) {
    background-color: $background;
    color: $color;
    a {
        color: $color;
        &:hover {
            color: $color;
        }
    }
}

@mixin bg-gradient-style ($background, $color) {
    background-image: $background;
    color: $color;
    a {
        color: $color;
        &:hover {
            color: $color;
        }
    }
}

@mixin bg-variant-alt ($color) {
    background-color: $color;
    color: $reverse;
    &:hover,
    &:focus {
        background-color: $color;
        color: $reverse;
    }
}

body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

::selection {
    background: $brand-primary;
    color: $reverse;
}
::-moz-selection {
    background: $brand-primary;
    color: $reverse;
}

a {
    text-decoration: none;
    &:active,
    &:focus{
        text-decoration: none;
        outline: none !important;
    }
}

span.block {
    display: block;
}

.no-margin {
    margin: 0;
}
.no-margin-bottom {
    margin-bottom: 0;
}
.no-border {
    border: 0;
}
.no-border-radius {
    border-radius: 0;
}
.no-padding {
    padding: 0;
}
.no-shadow {
    box-shadow: 0;
}
.full-width {
    width: 100%;
}

.ui-section {
    margin-bottom: 60px;
}
.page {
    .ui-section:last-child {
        margin-bottom: 0;
    }
}
.section-header {
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: $text-color;
    margin: 10px 0;
}

// background
// -----------------
// overrides Bootstrap
a.bg-primary { @include bg-variant-alt ($brand-primary); }
a.bg-success { @include bg-variant-alt ($brand-success); }
a.bg-info { @include bg-variant-alt ($brand-info); }
a.bg-warning { @include bg-variant-alt ($brand-warning); }
a.bg-danger { @include bg-variant-alt ($brand-danger); }
a.bg-orange { @include bg-variant-alt ($color-orange); }

// normal
.bg-light, 
.bg-white { @include bg-style(#fff, $text-color); }
.bg-body { @include bg-style($body-bg, $text-color); }
.bg-dark { @include bg-style($dark, $reverse); }
.bg-dark-light { @include bg-style($dark-light, $reverse); }
.bg-black { @include bg-style(#000, $reverse); }
.bg-primary { @include bg-style($brand-primary, $reverse); }
.bg-primary-light { @include bg-style($skin-light, $reverse); }
.bg-success { @include bg-style($brand-success, $reverse); }
.bg-info { @include bg-style($brand-info, $reverse); }
.bg-info-alt { @include bg-style($brand-info-alt, $reverse); }
.bg-warning { @include bg-style($brand-warning, $reverse); }

.bg-danger { @include bg-style($brand-danger, $reverse); }
.bg-orange { @include bg-style($color-orange, $reverse); }
.bg-cyan { @include bg-style($color-cyan, $reverse); }
.bg-violet { @include bg-style($color-violet, $reverse); }
.bg-dark { @include bg-style($dark, $reverse); }
.bg-bright { @include bg-style($bright, $text-color); }
.bg-reverse { @include bg-style($reverse, $text-color); }

.bg-facebook { @include bg-style(#335397, $reverse); }
.bg-twitter { @include bg-style(#00c7f7, $reverse); }
.bg-google-plus { @include bg-style(#df4a32, $reverse); }

.bg-info-gradient {
    @include bg-gradient-style( linear-gradient(45deg, $brand-info 0%, adjust-hue($brand-info, 30deg) 100%) , $reverse)
}
.bg-success-gradient {
    @include bg-gradient-style( linear-gradient(45deg, $brand-success 0%, adjust-hue($brand-success, 30deg) 100%) , $reverse)
}
.bg-warning-gradient {
    @include bg-gradient-style( linear-gradient(-45deg, adjust-hue($brand-warning, -10deg) 0%, adjust-hue($brand-warning, 10deg) 100%) , $text-color)
}
.bg-danger-gradient {
    @include bg-gradient-style( linear-gradient(-45deg, $brand-danger 0%, adjust-hue($brand-danger, 30deg) 100%) , $reverse)
}
