<div class="page page-general" data-ng-controller="InstanceCtrl">
	<div class="row">
		<div class="col-md-12">
			<section class="panel panel-default table-dynamic">
				<div class="table-filters">
					<div class="row">
                        <div class="col-sm-2 col-xs-6" ng-hide="ordinaryUser">
                            <form>
                                <select class="form-control" ng-options="key for (key,val) in user" data-ng-model="question">
                                    <option value="">选择用户</option>
                                </select>
                            </form>
                        </div>
						<div class="col-sm-2 col-xs-6">
							<form>
								<select class="form-control" ng-options="key for (key,val) in question" data-ng-model="hosts">
									<option value="">选择题目</option>
								</select>
							</form>
						</div>
						<div class="col-sm-2 col-xs-6">
							<form>
								<select class="form-control" ng-options="h.name for h in hosts" data-ng-model="host" ng-change="timespanChange()">
									<option value="">选择实例</option>
								</select>
							</form>
						</div>
						<div class="col-sm-4 col-xs-6">
							<form class="form-group">
								<label class="col-sm-6 control-label filter-result-info text-right">刷新时间间隔：</label>
								<div class="col-sm-5">
									<select class="form-control" ng-options="t.value as t.text for t in timespanList" data-ng-model="timespan" ng-change="timespanChange()">
									    <!--<option value="">30秒</option>-->
								    </select>
								</div>
							</form>
						</div>
						<div class="col-sm-2 col-xs-6">
							<button type="button" class="btn btn-primary" ng-click="timespanChange()">刷新</button>
						</div>
					</div>
				</div>
			</section>
			<div class="row">
				<div class="col-md-12">

					<div class="panel panel-default panel-minimal">
						<div class="panel-heading">cpu 监控信息</div>
						<div class="panel-body">
                            <ng-echarts2 class="col-md-12 echarts2" ec-config="lineConfig" ec-option="line1.options" ></ng-echarts2>
						</div>
					</div>

				</div>
				<div class="col-md-12">

					<div class="panel panel-default panel-minimal">
						<div class="panel-heading">磁盘监控信息</div>
						<div class="panel-body">
                            <ng-echarts2 class="col-md-12 echarts2" ec-config="lineConfig" ec-option="line2.options" ></ng-echarts2>
						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default panel-minimal">
						<div class="panel-heading">内网速率监控信息</div>
						<div class="panel-body">
                            <ng-echarts2 class="col-md-12 echarts2" ec-config="lineConfig" ec-option="line3.options" ></ng-echarts2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>