<div class="page" data-ng-controller="MonitorCtrl">
	<div class="row">
		<div class="col-lg-8 clearfix">
			<h3 class="section-header">上限摘要</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default panel-minimal">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3 col-xl-6">
							<div data-echarts data-options="pie1.options" style="height: 200px;"></div>
						</div>
						<div class="col-md-3 col-xl-6">
							<div data-echarts data-options="pie2.options" style="height: 200px;"></div>
						</div>
						<div class="col-md-3 col-xl-6">
							<div data-echarts data-options="pie3.options" style="height: 200px;"></div>
						</div>
						<div class="col-md-3 col-xl-6">
							<div data-echarts data-options="pie4.options" style="height: 200px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 clearfix">
			<h3 class="section-header">使用情况摘要</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<section class="panel panel-default table-dynamic">
				<div class="table-filters">
					<div class="row">
						<div class="col-sm-8 col-xs-8">
							<div class="form-group">
								<span class="col-sm-3 control-label filter-result-info text-right">起止时间：</span>
								<div class="col-sm-9">
									<div class="daterange daterange-inline" data-format="MMMM D, YYYY" style="background: #fff; border-radius: 2px; cursor: pointer; padding: 6px 10px;border: 1px solid #CBD5DD; width: 100%"
										data-start-date="September 19, 2014" data-end-date="October 3, 2014">
										<i class="glyphicon glyphicon-calendar"></i>&nbsp;
										<span></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-xs-4">
							<button type="button" class="btn btn-primary" ng-click="search1()">搜索</button>
							<!--<button type="button" class="btn btn-primary" ng-click="refresh()">下载摘要</button>-->
						</div>
					</div>
					<div>
						<div class="col-sm-12 padding-15" style="padding-left: 0;overflow-x: auto;">
							<p style="white-space: nowrap;">活跃的云主机:<span style="font-weight: bold;color: #E38D13;" ng-bind="server_usages.length"></span>, 活跃的内存:<span ng-bind="active_memory_mb|fSizeMB" style="font-weight: bold;color: #E38D13;"></span>, 这一时期的VCPU-小时数:
								<span ng-bind="total_vcpus_usage| number:2" style="font-weight: bold;color: #E38D13;"></span>, 这一时期的GB-小时数:<span style="font-weight: bold;color: #E38D13;" ng-bind="total_local_gb_usage| number:2"></span></p>
						</div>
					</div>
				</div>

				<table class="table table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th style="min-width: 240px;">
								<div class="th">
									云主机名称
									<span class="fa fa-angle-up" data-ng-click=" order('name') " data-ng-class="{active: row == 'name'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-name') " data-ng-class="{active: row == '-name'}"></span>
								</div>
							</th>
							<th style="min-width: 150px;">
								<div class="th">
									题目名
									<span class="fa fa-angle-up" data-ng-click=" order('question_name') " data-ng-class="{active: row == 'question_name'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-question_name') " data-ng-class="{active: row == '-question_name'}"></span>
								</div>
							</th>
							<th style="min-width: 80px;">
								<div class="th">
									虚拟内核
									<span class="fa fa-angle-up" data-ng-click=" order('vcpus') " data-ng-class="{active: row == 'vcpus'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-vcpus') " data-ng-class="{active: row == '-vcpus'}"></span>
								</div>
							</th>
							<th style="min-width: 60px;">
								<div class="th">
									磁盘
									<span class="fa fa-angle-up" data-ng-click=" order('local_gb') " data-ng-class="{active: row == 'local_gb'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-local_gb') " data-ng-class="{active: row == '-local_gb'}"></span>
								</div>
							</th>
							<th style="min-width: 60px;">
								<div class="th">
									内存
									<span class="fa fa-angle-up" data-ng-click=" order('memory_mb') " data-ng-class="{active: row == 'memory_mb'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-memory_mb') " data-ng-class="{active: row == '-memory_mb'}"></span>
								</div>
							</th>
							<th style="min-width: 150px;">
								<div class="th">
									正常运行时间
									<span class="fa fa-angle-up" data-ng-click=" order('hours') " data-ng-class="{active: row == 'hours'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-hours') " data-ng-class="{active: row == '-hours'}"></span>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="usage in currentPageStores">
							<td ng-bind="usage.name"></td>
							<td><a href="javascript:;" ng-click="questionTopo(usage)">{{usage.question_name}}</a></td>
							<td ng-bind="usage.vcpus"></td>
							<td>{{usage.local_gb | fSizeGB}}</td>
							<td>{{usage.memory_mb | fSizeMB}}</td>
							<td>{{usage.hours | fTime}}</td>
						</tr>
						<!--<tr data-ng-repeat="qest in currentPageStores">
							<td><a href="javascript:;" ng-click="users(qest)"><span class="glyphicon glyphicon-th-list"></span></a>
								<a href="javascript:;" ng-click="questionTopo(qest)">{{qest.summary}}</a></td>
							<td>{{qest.creatorName}}</td>
							<td data-ng-bind-html="labels(qest.categories)"></td>
						</tr>-->
					</tbody>
				</table>

				<footer class="table-footer">
					<div class="row">
						<div class="col-md-6 page-num-info">
							<span>
                每页显示 
                <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select> 
                条
                </span>
						</div>
						<div class="col-md-6 text-right pagination-container">
							<uib-pagination class="pagination-sm" ng-model="currentPage" total-items="filteredStores.length" max-size="4" ng-change="select(currentPage)"
								items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"></uib-pagination>
						</div>
					</div>
				</footer>
			</section>
		</div>
	</div>
</div>