<div class="page" data-ng-controller="ResourcesCtrl">
	<div class="row">
		<div class="col-lg-8 clearfix">
			<h3 class="section-header">使用情况摘要</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<section class="panel panel-default table-dynamic">
				<div class="table-filters">
					<div class="row">
						<div class="col-sm-8 col-xs-8">
							<div class="form-group">
								<span class="col-sm-3 control-label filter-result-info text-right">起止时间：</span>
								<div class="col-sm-9">
									<div class="daterange daterange-inline" data-format="MMMM D, YYYY" style="background: #fff; border-radius: 2px; cursor: pointer; padding: 6px 10px;border: 1px solid #CBD5DD; width: 100%"
										data-start-date="September 19, 2014" data-end-date="October 3, 2014">
										<i class="glyphicon glyphicon-calendar"></i>&nbsp;
										<span></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-xs-4">
							<button type="button" class="btn btn-primary" ng-click="search1()">搜索</button>
							<!--<button type="button" class="btn btn-primary" ng-click="download()">下载摘要</button>-->
						</div>
					</div>
					<div>
						<div class="col-sm-12 padding-15" style="padding-left: 0;overflow-x: auto;">
							<p style="white-space: nowrap;">活跃的云主机:<span style="font-weight: bold;color: #E38D13;" ng-bind="total_active_servers"></span>, 活跃的内存:<span style="font-weight: bold;color: #E38D13;" ng-bind="total_active_memory_mb | fSizeMB"></span>, 这一时期的VCPU-小时数:
								<span style="font-weight: bold;color: #E38D13;" ng-bind="total_vcpus_usage | number:2"></span>, 这一时期的GB-小时数:<span style="font-weight: bold;color: #E38D13;" ng-bind="total_local_gb_usage | number:2"></span></p>
						</div>
					</div>
				</div>

				<table class="table table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th style="width: 130px;">
								<div class="th">
									用户名
									<span class="fa fa-angle-up" data-ng-click=" order('tenant') " data-ng-class="{active: row == 'tenant'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-tenant') " data-ng-class="{active: row == '-tenant'}"></span>
								</div>
							</th>
							<th style="width: 60px;">
								<div class="th">
									虚拟内核
									<span class="fa fa-angle-up" data-ng-click=" order('vcpus') " data-ng-class="{active: row == 'vcpus'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-vcpus') " data-ng-class="{active: row == '-vcpus'}"></span>
								</div>
							</th>
							<th style="width: 40px;">
								<div class="th">
									磁盘
									<span class="fa fa-angle-up" data-ng-click=" order('disk') " data-ng-class="{active: row == 'disk'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-disk') " data-ng-class="{active: row == '-disk'}"></span>
								</div>
							</th>
							<th style="width: 40px;">
								<div class="th">
									内存
									<span class="fa fa-angle-up" data-ng-click=" order('ram') " data-ng-class="{active: row == 'ram'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-ram') " data-ng-class="{active: row == '-ram'}"></span>
								</div>
							</th>
							<th style="width: 60px;">
								<div class="th">
									虚拟内核小时数
									<span class="fa fa-angle-up" data-ng-click=" order('total_vcpus_usage') " data-ng-class="{active: row == 'total_vcpus_usage'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-total_vcpus_usage') " data-ng-class="{active: row == '-total_vcpus_usage'}"></span>
								</div>
							</th>
							<th style="width: 40px;">
								<div class="th">
									磁盘GB小时数
									<span class="fa fa-angle-up" data-ng-click=" order('total_local_gb_usage') " data-ng-class="{active: row == 'total_local_gb_usage'}"></span>
									<span class="fa fa-angle-down" data-ng-click=" order('-total_local_gb_usage') " data-ng-class="{active: row == '-total_local_gb_usage'}"></span>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="usage in currentPageStores">
							<td><a href="javascript:;" ng-click="showServers(usage.server_usages)" ng-show="usage.acive_servers > 0" style="margin-right: 5px;"><span class="glyphicon glyphicon-th-list"></span></a>{{usage.tenant}}</td>
							<td ng-bind="usage.vcpus"></td>
							<td>{{usage.disk | fSizeGB}}</td>
							<td>{{usage.ram | fSizeMB}}</td>
							<td ng-bind="usage.total_vcpus_usage | number:2"></td>
							<td ng-bind="usage.total_local_gb_usage | number:2"></td>
						</tr>
					</tbody>
				</table>

				<footer class="table-footer">
					<div class="row">
						<div class="col-md-6 page-num-info">
							<span>
								每页显示
								<select data-ng-model="numPerPage"
									data-ng-options="num for num in numPerPageOpt"
									data-ng-change="onNumPerPageChange()">
								</select>
								条
							</span>
						</div>
						<div class="col-md-6 text-right pagination-container">
							<uib-pagination class="pagination-sm" ng-model="currentPage" total-items="filteredStores.length" max-size="4" ng-change="select(currentPage)"
								items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"></uib-pagination>
						</div>
					</div>
				</footer>
			</section>
		</div>
	</div>
	
	
	<script type="text/ng-template" id="server-tpl.html">
		<div class="modal-header">
			<h3>主机列表</h3>
		</div>
		<div class="modal-body">
			<div class="form-horizontal form-validation">
				<table class="table table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th>
								<div class="th">云主机名称</div>
							</th>
							<th>
								<div class="th">题目名</div>
							</th>
							<th>
								<div class="th">虚拟内核</div>
							</th>
							<th>
								<div class="th">硬盘</div>
							</th>
							<th>
								<div class="th">内存</div>
							</th>
							<th>
								<div class="th">正常运行时间</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="sv in servers">
							<td>{{sv.name}}</td>
							<td>{{sv.question_name}}</td>
							<td>{{sv.vcpus}}</td>
							<td>{{sv.local_gb | fSizeGB}} </td>
							<td>{{sv.memory_mb | fSizeMB}} </td>
							<td>{{sv.uptime/3600|fTime}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-info" ng-click="cancel()">关闭</button>
		</div>
	</script>
</div>