<div class="page page-general" data-ng-controller="ServerCtrl" style="padding-bottom: 50px;">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default panel-minimal">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3 col-xl-6">
							<div data-echarts data-options="pie5.options" style="height: 200px;"></div>
						</div>
						<div class="col-md-3 col-xl-6">
							<div data-echarts data-options="pie6.options" style="height: 200px;"></div>
						</div>
						<div class="col-md-3 col-xl-6">
							<div data-echarts data-options="pie7.options" style="height: 200px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-body table-responsive">
				<section class="table-dynamic">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th style="min-width: 220px;">
									<div class="th">
										主机名
										<span class="fa fa-angle-up" data-ng-click=" order('hypervisor_hostname') " data-ng-class="{active: row == 'hypervisor_hostname'}"></span>
										<span class="fa fa-angle-down" data-ng-click=" order('-hypervisor_hostname') " data-ng-class="{active: row == '-hypervisor_hostname'}"></span>
									</div>
								</th>
								<th style="min-width: 60px;">
									<div class="th">
										类型
										<span class="fa fa-angle-up" data-ng-click=" order('hypervisor.hypervisor_type') " data-ng-class="{active: row == 'hypervisor.hypervisor_type'}"></span>
										<span class="fa fa-angle-down" data-ng-click=" order('-hypervisor.hypervisor_type') " data-ng-class="{active: row == '-hypervisor.hypervisor_type'}"></span>
									</div>
								</th>
								<th style="min-width: 130px;">
									<div class="th">
										虚拟内核(总计)
										<span class="fa fa-angle-up" data-ng-click=" order('hypervisor.vcpus') " data-ng-class="{active: row == 'hypervisor.vcpus'}"></span>
										<span class="fa fa-angle-down" data-ng-click=" order('-hypervisor.vcpus') " data-ng-class="{active: row == '-hypervisor.vcpus'}"></span>
									</div>
								</th>
								<th style="min-width: 140px;">
									<div class="th">
										虚拟内核(已使用)
										<span class="fa fa-angle-up" data-ng-click=" order('hypervisor.vcpus_used') " data-ng-class="{active: row == 'hypervisor.vcpus_used'}"></span>
										<span class="fa fa-angle-down" data-ng-click=" order('-hypervisor.vcpus_used') " data-ng-class="{active: row == '-hypervisor.vcpus_used'}"></span>
									</div>
								</th>
								<th style="min-width: 110px;">
									<div class="th">
										内存(总计)
										<span class="fa fa-angle-up" data-ng-click=" order('hypervisor.memory_mb') " data-ng-class="{active: row == 'hypervisor.memory_mb'}"></span>
										<span class="fa fa-angle-down" data-ng-click=" order('-hypervisor.memory_mb') " data-ng-class="{active: row == '-hypervisor.memory_mb'}"></span>
									</div>
								</th>
								<th style="min-width: 110px;">
									<div class="th">
										内存(已使用)
										<span class="fa fa-angle-up" data-ng-click=" order('hypervisor.memory_mb_used') " data-ng-class="{active: row == 'hypervisor.memory_mb_used'}"></span>
										<span class="fa fa-angle-down" data-ng-click=" order('-hypervisor.memory_mb_used') " data-ng-class="{active: row == '-hypervisor.memory_mb_used'}"></span>
									</div>
								</th>
								<th style="min-width: 100px;">
									<div class="th">
										磁盘(总计)
										<span class="fa fa-angle-up" data-ng-click=" order('hypervisor.local_gb') " data-ng-class="{active: row == 'hypervisor.local_gb'}"></span>
										<span class="fa fa-angle-down" data-ng-click=" order('-hypervisor.local_gb') " data-ng-class="{active: row == '-hypervisor.local_gb'}"></span>
									</div>
								</th>
								<th style="min-width: 120px;">
									<div class="th">
										磁盘(已使用)
										<span class="fa fa-angle-up" data-ng-click=" order('hypervisor.local_gb_used') " data-ng-class="{active: row == 'hypervisor.local_gb_used'}"></span>
										<span class="fa fa-angle-down" data-ng-click=" order('-hypervisor.local_gb_used') " data-ng-class="{active: row == '-hypervisor.local_gb_used'}"></span>
									</div>
								</th>
								<th style="min-width: 60px;">
									<div class="th">
										实例
										<span class="fa fa-angle-up" data-ng-click=" order('hypervisor.running_vms') " data-ng-class="{active: row == 'hypervisor.running_vms'}"></span>
										<span class="fa fa-angle-down" data-ng-click=" order('-hypervisor.running_vms') " data-ng-class="{active: row == '-hypervisor.running_vms'}"></span>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="usage in currentPageStores">
								<td ng-bind="usage.hypervisor_hostname"></td>
								<td ng-bind="usage.hypervisor.hypervisor_type"></td>
								<td ng-bind="usage.hypervisor.vcpus"></td>
								<td ng-bind="usage.hypervisor.vcpus_used"></td>
								<td>{{usage.hypervisor.memory_mb | fSizeMB}}</td>
								<td>{{usage.hypervisor.memory_mb_used | fSizeMB}}</td>
								<td>{{usage.hypervisor.local_gb | fSizeGB}}</td>
								<td>{{usage.hypervisor.local_gb_used | fSizeGB}}</td>
								<td ng-bind="usage.hypervisor.running_vms"></td>
							</tr>
						</tbody>
					</table>

					<footer class="table-footer">
						<div class="row">
							<div class="col-md-6 page-num-info">
								<span>
									每页显示
									<select data-ng-model="numPerPage"
										data-ng-options="num for num in numPerPageOpt"
										data-ng-change="onNumPerPageChange()">
									</select>
									条
								</span>
							</div>
							<div class="col-md-6 text-right pagination-container">
								<uib-pagination class="pagination-sm" ng-model="currentPage" total-items="filteredStores.length" max-size="4" ng-change="select(currentPage)"
									items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"></uib-pagination>
							</div>
						</div>
					</footer>
				</section>
			</div>
		</div>
	</div>
</div>