<form class="fileupload" method="POST" enctype="multipart/form-data" data-ng-app="demo" data-file-upload="options">
	<span class="file-input-wrapper btn btn-default  btn-success" style="display: {{isshow}}">
    		<span>{{label}}</span>
	<input type="file" name="upfile" multiple ng-disabled="disabled" class="btn-success">
	</span>

	<!-- The table listing the files available for upload/download -->
	<table class="table table-striped files ng-cloak">
		<tr data-ng-repeat="file in queue">
			<td>
				<div class="preview">
					<img data-ng-src="{{file.thumbnailUrl}}" alt="" height="80">
				</div>
			</td>
			<td>
				<p class="name" data-on="!!file.url">
					<span>{{file.name}}</span>
				</p>
				<strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
			</td>
			<td>
				<p class="size">{{file.size | formatFileSize}}</p>
				<div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()">
					<div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div>
				</div>
			</td>
			<td>
				<button type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-controller="FileDestroyController">
          <i class="glyphicon glyphicon-trash"></i>
          <span>删除</span>
        </button>
			</td>
		</tr>
	</table>
</form>