<div class="page page-general" data-ng-controller="AchievementsQuestionsCtrl">
    <div class="row ui-section">
        <div class="col-md-12">
            <section class="panel panel-default table-dynamic">
                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form>
                                <input type="text" placeholder="根据题目名称搜索..." class="form-control"
                                       data-ng-model="searchKeywords" data-ng-keyup="search()">
                            </form>
                        </div>
                        <div class="col-sm-3 col-xs-6 filter-result-info">
                            <span>
                            当前显示 {{filteredStores.length}}/{{stores.length}}
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="col-sm-12 padding-15" style="padding-left: 0;overflow-x: auto;">
                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-striped table-responsive" style="table-layout:fixed;">
                    <thead>
                    <tr>
                        <th>
                            <div class="th">
                                题目名
                                <span class="fa fa-angle-up" data-ng-click=" order('summary') "
                                      data-ng-class="{active: row == 'summary'}"></span>
                                <span class="fa fa-angle-down" data-ng-click=" order('-summary') "
                                      data-ng-class="{active: row == '-summary'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                完成用户
                                <span class="fa fa-angle-up" data-ng-click=" order('complete') "
                                      data-ng-class="{active: row == 'complete'}"></span>
                                <span class="fa fa-angle-down" data-ng-click=" order('-complete') "
                                      data-ng-class="{active: row == '-complete'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                旗帜分
                                <span class="fa fa-angle-up" data-ng-click=" order('score') "
                                      data-ng-class="{active: row == 'score'}"></span>
                                <span class="fa fa-angle-down" data-ng-click=" order('-score') "
                                      data-ng-class="{active: row == '-score'}"></span>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="ques in currentPageStores">
                        <td>
                            <a href="javascript:;" ng-click="showQuestion(ques.id)"><span
                                    class="glyphicon glyphicon-th-list"></span></a>
                            {{ques.summary}}
                        </td>
                        <td>{{ques.complete}}/{{ques.users}}</td>
                        <td>{{ques.score}}</td>
                    </tr>
                    </tbody>
                </table>

                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                            <span>
                            每页显示
                            <select data-ng-model="numPerPage"
                                    data-ng-options="num for num in numPerPageOpt"
                                    data-ng-change="onNumPerPageChange()">
                            </select>
                            条
                            </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <uib-pagination class="pagination-sm" ng-model="currentPage"
                                            total-items="filteredStores.length" max-size="4"
                                            ng-change="select(currentPage)"
                                            items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;"
                                            next-text="&rsaquo;" boundary-links="true"></uib-pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>
