<div class="page page-general" data-ng-controller="AchievementsQuestionCtrl">
    <div class="row ui-section">
        <div class="col-md-12">
            <section class="panel panel-default table-dynamic">
            	<div class="panel-heading row">
					<div class="col-lg-12">
                		<h3>题目&nbsp;{{question}}&nbsp;用户答题情况
                			<button type="button" ng-click="back()" class="btn btn-default" style="float:right;margin-right:5px;">返回</button>
                		</h3>
                	</div>
                </div>
                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form>
                                <input type="text" placeholder="根据用户名搜索..." class="form-control"
                                       data-ng-model="searchKeywords" data-ng-keyup="search()">
                            </form>
                        </div>
                        <div class="col-sm-3 col-xs-6 filter-result-info">
                            <span>
                            当前显示 {{filteredStores.length}}/{{stores.length}}
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="col-sm-12 padding-15" style="padding-left: 0;overflow-x: auto;">
                            <span style="white-space: nowrap;">用户角色：</span><a ng-repeat="r in roleList"
                                                                              class="label {{ischoose(r)}}"
                                                                              style="margin-right: 5px;"
                                                                              ng-click="filterRole(r)">{{r.name}}</a>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-striped table-responsive" style="table-layout:fixed;">
                    <thead>
                    <tr>
                        <th>
                            <div class="th">
                                用户名
                                <span class="fa fa-angle-up" data-ng-click=" order('username') "
                                      data-ng-class="{active: row == 'username'}"></span>
                                <span class="fa fa-angle-down" data-ng-click=" order('-username') "
                                      data-ng-class="{active: row == '-username'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                真实姓名
                                <span class="fa fa-angle-up" data-ng-click=" order('realname') "
                                      data-ng-class="{active: row == 'realname'}"></span>
                                <span class="fa fa-angle-down" data-ng-click=" order('-realname') "
                                      data-ng-class="{active: row == '-realname'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                作答时间
                                <span class="fa fa-angle-up" data-ng-click=" order('time') "
                                      data-ng-class="{active: row == 'time'}"></span>
                                <span class="fa fa-angle-down" data-ng-click=" order('-time') "
                                      data-ng-class="{active: row == '-time'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                回答正误
                                <span class="fa fa-angle-up" data-ng-click=" order('score') "
                                      data-ng-class="{active: row == 'score'}"></span>
                                <span class="fa fa-angle-down" data-ng-click=" order('-score') "
                                      data-ng-class="{active: row == '-score'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                得分
                                <span class="fa fa-angle-up" data-ng-click=" order('score') "
                                      data-ng-class="{active: row == 'score'}"></span>
                                <span class="fa fa-angle-down" data-ng-click=" order('-score') "
                                      data-ng-class="{active: row == '-score'}"></span>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="user in currentPageStores">
                        <td>{{user.username}}</td>
                        <td>{{user.realname}}</td>
                        <td>{{user.time === null? "":(user.time * 1000 | date:'yyyy-MM-dd HH:mm:ss')}}</td>
                        <td ng-if="user.score > 0" style="color: green;">✔</td>
                        <td ng-if="user.score === 0" style="color: red;">✘</td>
                        <td ng-if="user.score < 0" >未作答</td>
                        <td>{{user.score === -1? '':user.score}}</td>
                    </tr>
                    </tbody>
                </table>

                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                            <span>
                            每页显示
                            <select data-ng-model="numPerPage"
                                    data-ng-options="num for num in numPerPageOpt"
                                    data-ng-change="onNumPerPageChange()">
                            </select>
                            条
                            </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <uib-pagination class="pagination-sm" ng-model="currentPage"
                                            total-items="filteredStores.length" max-size="4"
                                            ng-change="select(currentPage)"
                                            items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;"
                                            next-text="&rsaquo;" boundary-links="true"></uib-pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>

