<div class="page page-general" data-ng-controller="AchievementsUsersCtrl">
    <div class="row ui-section">
        <div class="col-md-12">
            <section class="panel panel-default table-dynamic">
                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form>
                                <input type="text" placeholder="根据用户名搜索..." class="form-control"
                                       data-ng-model="searchKeywords" data-ng-keyup="search()">
                            </form>
                        </div>
                        <div class="col-sm-3 col-xs-6 filter-result-info">
                            <span>
                            当前显示 {{filteredStores.length}}/{{stores.length}}
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="col-sm-12 padding-15" style="padding-left: 0;overflow-x: auto;">
                            <span style="white-space: nowrap;">用户角色：</span><a ng-repeat="r in roleList"
                                                                              class="label {{ischoose(r)}}"
                                                                              style="margin-right: 5px;"
                                                                              ng-click="filterRole(r)">{{r.name}}</a>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-striped table-responsive" style="table-layout:fixed;">
                    <thead>
                    <tr>
                        <th>
                            <div class="th">
                                用户名
                                <span class="fa fa-angle-up" data-ng-click=" order('username') "
                                      data-ng-class="{active: row == 'username'}"></span>
                                <span class="fa fa-angle-down" data-ng-click=" order('-username') "
                                      data-ng-class="{active: row == '-username'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                真实姓名
                                <span class="fa fa-angle-up" data-ng-click=" order('realname') "
                                      data-ng-class="{active: row == 'realname'}"></span>
                                <span class="fa fa-angle-down" data-ng-click=" order('-realname') "
                                      data-ng-class="{active: row == '-realname'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                完成题目
                                <span class="fa fa-angle-up" data-ng-click=" order('complete') "
                                      data-ng-class="{active: row == 'complete'}"></span>
                                <span class="fa fa-angle-down" data-ng-click=" order('-complete') "
                                      data-ng-class="{active: row == '-complete'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                总分
                                <span class="fa fa-angle-up" data-ng-click=" order('score') "
                                      data-ng-class="{active: row == 'score'}"></span>
                                <span class="fa fa-angle-down" data-ng-click=" order('-score') "
                                      data-ng-class="{active: row == '-score'}"></span>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="user in currentPageStores">
                        <td>
                            <a href="javascript:;" ng-click="showUser(user.username)"><span
                                    class="glyphicon glyphicon-th-list"></span></a>
                            {{user.username}}
                        </td>
                        <td>{{user.realname}}</td>
                        <td>{{user.complete}}/{{user.questions}}</td>
                        <td>{{user.score}}</td>
                    </tr>
                    </tbody>
                </table>

                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                            <span>
                            每页显示
                            <select data-ng-model="numPerPage"
                                    data-ng-options="num for num in numPerPageOpt"
                                    data-ng-change="onNumPerPageChange()">
                            </select>
                            条
                            </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <uib-pagination class="pagination-sm" ng-model="currentPage"
                                            total-items="filteredStores.length" max-size="4"
                                            ng-change="select(currentPage)"
                                            items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;"
                                            next-text="&rsaquo;" boundary-links="true"></uib-pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>
