<div class="page page-general" data-ng-controller="AchievementsUserCtrl">
	<div class="row ui-section">
		<div class="col-md-12">
			<section class="panel panel-default table-dynamic">
				<div class="panel-heading row">
					<div class="col-lg-12">
						<h3>用户&nbsp;<b>{{realname?realname:username}}</b>&nbsp;答题情况
							<button type="button" ng-click="back()" class="btn btn-default" style="float:right;margin-right:5px;">返回</button>
						</h3>
					</div>
				</div>
				<div class="table-filters">
					<div class="row">
						<div class="col-sm-4 col-xs-4">
							<form>
								<input type="text" placeholder="根据题目名称搜索..." class="form-control"
									   data-ng-model="searchKeywords" data-ng-keyup="search()">
							</form>
						</div>
						<div class="col-sm-3 col-xs-4 filter-result-info">
							   <span>
							   当前显示 {{filteredStores.length}}/{{stores.length}}
							   </span>
						</div>
					</div>
				</div>

				<table class="table table-bordered table-striped table-responsive" style="table-layout:fixed;">
					<thead>
					<tr>
						<th>
							<div class="th">
								题目
								<span class="fa fa-angle-up" data-ng-click=" order('summary') "
									  data-ng-class="{active: row == 'summary'}"></span>
								<span class="fa fa-angle-down" data-ng-click=" order('-summary') "
									  data-ng-class="{active: row == '-summary'}"></span>
							</div>
						</th>
						<th>
							<div class="th">
								作答时间
								<span class="fa fa-angle-up" data-ng-click=" order('time') "
									  data-ng-class="{active: row == 'time'}"></span>
								<span class="fa fa-angle-down" data-ng-click=" order('-time') "
									  data-ng-class="{active: row == '-time'}"></span>
							</div>
						</th>
						<th>
							<div class="th">
								回答正误
								<span class="fa fa-angle-up" data-ng-click=" order('score') "
									  data-ng-class="{active: row == 'score'}"></span>
								<span class="fa fa-angle-down" data-ng-click=" order('-score') "
									  data-ng-class="{active: row == '-score'}"></span>
							</div>
						</th>
						<th>
							<div class="th">
								得分
								<span class="fa fa-angle-up" data-ng-click=" order('score') "
									  data-ng-class="{active: row == 'score'}"></span>
								<span class="fa fa-angle-down" data-ng-click=" order('-score') "
									  data-ng-class="{active: row == '-score'}"></span>
							</div>
						</th>
					</tr>
					</thead>
					<tbody>
					<tr data-ng-repeat="ques in currentPageStores">
						<td>{{ques.summary}}</td>
						<td>{{ques.time === null? "":(ques.time * 1000 | date:'yyyy-MM-dd HH:mm:ss')}}</td>
						<td ng-if="ques.score > 0" style="color: green;">✔</td>
						<td ng-if="ques.score <= 0" style="color: red;">✘</td>
						<td>{{ques.score}}</td>
					</tr>
					</tbody>
				</table>

				<footer class="table-footer">
					<div class="row">
						<div class="col-md-6 page-num-info">
							<span>
							每页显示
							<select data-ng-model="numPerPage"
									data-ng-options="num for num in numPerPageOpt"
									data-ng-change="onNumPerPageChange()">
							</select>
							条
							</span>
						</div>
						<div class="col-md-6 text-right pagination-container">
							<uib-pagination class="pagination-sm" ng-model="currentPage"
											total-items="filteredStores.length" max-size="4"
											ng-change="select(currentPage)"
											items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;"
											next-text="&rsaquo;" boundary-links="true"></uib-pagination>
						</div>
					</div>
				</footer>
			</section>
		</div>
	</div>
</div>
